{% if error is defined and error %}
    <span>{{ error }}</span>
{% endif %}
{% for owner in hwi_oauth_resource_owners() %}
    <a class="form-login" href="{{ hwi_oauth_login_url(owner) }}"><span class="icon-share_{{ owner }}{{ owner == 'google' ? '_plus' : '' }}"></span> {{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
{% endfor %}
