<div class="list-group no-m-bottom">
    {% for initiative in initiatives %}
        <a class="advert-anchor" href="#">
            <div class="list-group-item">
                <h3 class="list-group-item-heading">{{ initiative.title }} <small class="pull-right">{{ initiative.startAt | localizeddate('medium', 'none') }}</small></h3>
                {#{% if forum.state is not constant('CLOSED', forum) %}#}
                    <h4><span class="label label-blue">hola</span></h4>
                {#{% endif %}#}
                {#<p class="list-group-item-text">{{ forum.description }}</p>#}
                <ul class="list-inline">
                    {% if initiative.documents | length > 0 %}
                        <li><span class="icon-cloud_download"></span> {{ initiative.documents | length }}</li>
                    {% endif %}
                    {% if initiative.gallery | length > 0 %}
                        <li><span class="icon-photo_camera"></span> {{ initiative.gallery | length }}</li>
                    {% endif %}
                </ul>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            <div class="alert alert-warning no-m-bottom" role="alert">
                <p class="list-group-item-text"><span class="icon-warning"></span> {{ 'front.participation.discussions.noitems' | trans }}</p>
            </div>
        </div>
    {% endfor %}
    <div class="text-center">
        {{ knp_pagination_render(initiatives) }}
    </div>
</div>
