{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img data-src="holder.js/360x360/text:imatge" class="img-responsive" alt="dummy">
            </div>
            <div class="col-md-8">
                <div class="well">
                    <h2 class="no-m-top">{{ page.title }}</h2>
                    <h2 class="no-m-top"><small>subtítol pàgina govern obert</small></h2>
                    <p class="extra-m-top">{{ page.description |raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_cms_open_goverment', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_cms_open_goverment', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_cms_open_goverment', {'_locale': 'en'}) }}{% endblock %}
