{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/demofony2app/css/custom.css') }}">
    <link rel="stylesheet" href="/css/icomoon.css">


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        jQuery(document).ready(function(){

//            $('.datepicker').datetimepicker({"pickTime":true,"useCurrent":true,"minDate":"1\/1\/1900","maxDate":"","showToday":true,"language":"ca","defaultDate":"","disabledDates":[],"enabledDates":[],"icons":{"time":"glyphicon glyphicon-time","date":"glyphicon glyphicon-calendar","up":"glyphicon glyphicon-chevron-up","down":"glyphicon glyphicon-chevron-down"},"useStrict":false,"sideBySide":false,"daysOfWeekDisabled":[],"useMinutes":true,"useSeconds":true,"minuteStepping":1});

            function format(o) {
                    return '<span class="icon-' + o.text + '"> ' + o.text + '</span>';
            }

            $(".select-icon").select2({
                width: '100%',
                height: '30px',
                formatResult: format,
                formatSelection: format,
                escapeMarkup: function(m) {
                    return m;
                }
            });
        });
    </script>

{% endblock %}

{% block sonata_page_content %}
    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
    {{ parent() }}
{% endblock %}


{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>
            {#<li class="dropdown user-menu">#}
                {#<a class="dropdown-toggle" data-toggle="dropdown" href="#">#}
                    {#<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>#}
                {#</a>#}
                {#<ul class="dropdown-menu dropdown-user">#}
                    {#{% include admin_pool.getTemplate('user_block') %}#}
                {#</ul>#}
            {#</li>#}
            <li>
                <a class="dropdown-toggle" href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block sonata_sidebar_search %}

{% endblock sonata_sidebar_search %}

 {% block side_bar_after_nav %}

 {% endblock %}
