{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-colorpicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/admin.min.js') }}"></script>
    <script src="{{ asset('js/admin-my.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="//maps.google.com/maps/api/js?sensor=false&v=3.8&libraries=places&language={{ app.request.locale }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
        {%  if form is defined %}
            $('div#field_container_{{ form.vars.id }}_subevents .colorpicker').colorpicker();
            $('[id*=_image_image]').css('width', '200px');
            $('#image_upload_modal').on('hidden.bs.modal', function () {
                    $('[id*=_image_image_preview]').css('width', '200px');
            });

            jQuery('div[id$=_subevents]').on('sonata.add_element', function(event) {
                $('div#field_container_{{ form.vars.id }}_subevents .datepicker').datepicker({
                    language: 'ca'
                });

                $('div#field_container_{{ form.vars.id }}_subevents .datetimepicker').datetimepicker({
                    locale: 'ca',
                    defaultDate: new Date()
                });

                $('div#field_container_{{ form.vars.id }}_subevents .colorpicker').colorpicker();

                $('[id*=_image_image]').css('width', '200px');
                $('[id*=_image_image_preview]').css('width', '200px');
                {#$('div#field_container_{{ form.vars.id }}_subevents .colorpicker').ColorPicker();#}
            });

            jQuery('div[id$=_pages]').on('sonata.add_element', function(event) {
                var panelList = $("div#field_container_{{ form.vars.id }}_pages tbody.sonata-ba-tbody");
                makeSortable(panelList);
            });

            var panelList = $("div#field_container_{{ form.vars.id }}_pages tbody.sonata-ba-tbody");
            makeSortable(panelList);

            function makeSortable(panelList) {
                panelList.sortable(
                        {
//                            handle: ".ui-sortable",
                            start: function (event, ui)
                            {
                                var id_textarea = ui.item.find("textarea").attr("id");
                                CKEDITOR.instances[id_textarea].destroy();
                            },
                            stop: function (event, ui)
                            {
                                var id_textarea = ui.item.find("textarea").attr("id");
                                CKEDITOR.replace(id_textarea);
                            }
                        });
            }
        {% endif %}

            function format(o) {
                    return '<span class="icon-' + o.text + '"> ' + o.text + '</span>';
            }

            $('.datepicker').datepicker({
                language: 'ca'
            });

            $('.datetimepicker').datetimepicker({
                locale: 'ca',
                defaultDate: new Date()
            });

            jQuery('.select-icon').select2({
                width: '100%',
                height: '30px',
                formatResult: format,
                formatSelection: format,
                escapeMarkup: function(m) {
                    return m;
                }
            });

        });
    </script>
{% endblock %}

{% block sonata_page_content %}
    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_jquery': false, 'include_bootstrap': false} %}
    {{ parent() }}
{% endblock %}

{% block sonata_top_nav_menu %}
    <div class="navbar-right">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                {% include admin_pool.getTemplate('add_block') %}
            </li>
            <li>
                <a class="dropdown-toggle" href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block sonata_sidebar_search %}{% endblock sonata_sidebar_search %}

{% block side_bar_after_nav %}{% endblock %}
