{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.profile.change-password' | trans }}{% endblock %}

{% block bodyattr %}class="profile"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Back portrait panel -->#}
    {% include '@Demofony2User/Includes/back-portrait-panel.html.twig' %}
    {% set user = app.user %}
    {# Photo & Username #}
    <div class="row" style="margin-bottom:20px;margin-left:0">
        <div class="col-md-3">
            <img class="img-profile" src="{{ user | image | imagine_filter('263x263') }}" alt="{{ user.username }} GO Premia user profile"/>
        </div>
        <div class="col-md-9">
            <h2 class="c-blue-dark no-m">{{ 'front.profile.change-password' | trans }}</h2>
            <h6><em class="c-blue-dark">@{{ user.username }}</em></h6>
            <form action="{{ path('fos_user_change_password', { username: app.user.username }) }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                {{ form_widget(form) }}
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="{{ 'front.profile.save' | trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footlangca %}{{ path('fos_user_change_password', {_locale: 'ca', username: app.user.username}) }}{% endblock %}
{% block footlanges %}{{ path('fos_user_change_password', {_locale: 'es', username: app.user.username}) }}{% endblock %}
{% block footlangen %}{{ path('fos_user_change_password', {_locale: 'en', username: app.user.username}) }}{% endblock %}
