{% extends "OhGoogleMapFormTypeBundle:Form:google_maps.html.twig" %}


	{% block oh_google_maps_fields %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endblock %}

{% block oh_google_maps_html %}
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div id="{{ id }}_container">
            <input type="text" id="{{ id }}_input"/>
            <button id="{{ id }}_search_button" class="btn">{{ 'map_search' | trans }}</button>
            <br/>
            <br/>

            <div id="{{ id }}_map_canvas" class="gmap"
                 style="width: {{ map_width }}px; height: {{ map_height }}px"></div>
            <div id="{{ id }}_error"></div>
            <br/>
            {#<br/>#}
        </div>
    </div>
</div>
{% endblock %}
