<div class="modal fade" id="homepage-modal-form" tabindex="-1" role="dialog" data-aria-labelledby="homepage-modal-form-label" data-aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span data-aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="homepage-modal-form-label">{{ 'front.home.addons.question.title' | trans }}</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" action="{{ path('demofony2_front_homepage') }}" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">{{ 'front.home.addons.question.form.send' | trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% if not form.vars.valid %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#homepage-modal-form').modal({show: true});
        });
    </script>
{% endif %}
