<div class="row">
    <div class="col-md-12">
        <div class="well bg-grey">
            <h4>{{ 'front.home.levels.title' | trans }}</h4>
            {#<span class="label label-default df-label-secondary">{% trans %}front.home.levels.title{% endtrans %}</span>#}
            <div class="row no-m-bottom">
                <div class="col-md-4">
                    <div class="panel panel-info no-m-bottom">
                        <div class="panel-heading">UAB</div>
                        <div class="panel-body">
                            <div class="overlap text-center">
                                <h5 class="value">60%</h5>
                                <h5 class="text">{{ levels.uab }} {{ 'front.home.levels.indicators' | trans }}</h5>
                            </div>
                            <div class="progress no-m-bottom">
                                <div class="progress-bar" role="progressbar" data-aria-valuenow="60" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info no-m-bottom">
                        <div class="panel-heading">ITA</div>
                        <div class="panel-body">
                            <div class="overlap text-center">
                                <h5 class="value">80%</h5>
                                <h5 class="text">{{ levels.ita }} {{ 'front.home.levels.indicators' | trans }}</h5>
                            </div>
                            <div class="progress no-m-bottom">
                                <div class="progress-bar" role="progressbar" data-aria-valuenow="80" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 80%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-info no-m-bottom">
                        <div class="panel-heading">{{ 'front.home.levels.law' | trans }}</div>
                        <div class="panel-body">
                            <div class="overlap text-center">
                                <h5 class="value">75%</h5>
                                <h5 class="text">{{ levels.law }} {{ 'front.home.levels.indicators' | trans }}</h5>
                            </div>
                            <div class="progress no-m-bottom">
                                <div class="progress-bar" role="progressbar" data-aria-valuenow="75" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 75%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
