{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Newsletter{% endblock %}

{% block tablebody %}
    <table class="row">
        <tr>
            <td class="wrapper last">
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <h1>{{ newsletter.subject }}</h1>
                            <p class="lead">{{ newsletter.description }}</p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {% if newsletter.processParticipations | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td><h2>Processos de debat públic</h2></td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for process in newsletter.processParticipations %}
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td><h3>{{ process.title }}</h3></td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.proposals | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td><h2>Digues la teva</h2></td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for proposal in newsletter.proposals %}
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td><h3>{{ proposal.title }}</h3></td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.documents | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td><h2>Documents de transparència</h2></td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for document in newsletter.documents %}
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td><h3>{{ document.name }}</h3></td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
