{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Newsletter{% endblock %}

{% block tablebody %}
    <table class="row">
        <tr>
            <td class="wrapper">
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <h1>{{ newsletter.subject }}</h1>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="wrapper last">
                <table class="twelve columns">
                    <tr>
                        <td>
                            <p class="lead">{{ newsletter.description }}</p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {% if newsletter.processParticipations | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Processos de debat públic</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for process in newsletter.processParticipations %}
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5><a href="{{ url('demofony2_front_participation_discussions_edit', {id: process.id, discussion: process.titleSlug}, true) }}">{{ process.title }}</a></h5>
                                    <p>{% include 'Front/includes/truncated-summary.html.twig' with {value: process.description, amount: 200} %}</p>
                                    <table class="button success">
                                        <tr>
                                            <td>
                                                <a href="{{ url('demofony2_front_participation_discussions_edit', {id: process.id, discussion: process.titleSlug}, true) }}">LLegir més</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.proposals | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Digues la teva</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for proposal in newsletter.proposals %}
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5>{{ proposal.title }}</h5>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.documents | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Documents de transparència</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for document in newsletter.documents %}
            <table class="row">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5>{{ document.name }}</h5>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
