{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Butlletí electrònic{% endblock %}

{% block tablebody %}
    <table class="row">
        <tr>
            <td class="wrapper">
                <table class="twelve columns">
                    <tr>
                        <td class="panel top">
                            <h1>{{ newsletter.subject }}</h1>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="wrapper last">
                <table class="twelve columns">
                    <tr>
                        <td>
                            <p class="lead">{{ newsletter.description }}</p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {% if newsletter.processParticipations | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Processos de debat públic</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for process in newsletter.processParticipations %}
            <table class="row extra-m-bottom">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5><a href="{{ url('demofony2_front_participation_discussions_edit', {id: process.id, discussion: process.titleSlug}, true) }}">{{ process.title }}</a></h5>
                                    <p>{% include 'Front/includes/truncated-summary.html.twig' with {value: process.description, amount: 200} %}</p>
                                    <table class="button radius">
                                        <tr>
                                            <td>
                                                <a href="{{ url('demofony2_front_participation_discussions_edit', {id: process.id, discussion: process.titleSlug}, true) }}">Llegir més</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.proposals | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Digues la teva</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for proposal in newsletter.proposals %}
            <table class="row extra-m-bottom">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5><a href="{{ url('demofony2_front_participation_proposals_show', {id: proposal.id, titleSlug: proposal.titleSlug}, true) }}">{{ proposal.title }}</a></h5>
                                    <p>{% include 'Front/includes/truncated-summary.html.twig' with {value: proposal.description, amount: 200} %}</p>
                                    <table class="button radius">
                                        <tr>
                                            <td>
                                                <a href="{{ url('demofony2_front_participation_proposals_show', {id: proposal.id, titleSlug: proposal.titleSlug}, true) }}">Llegir més</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.citizenForums | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Fòrums ciutadans</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for citizenForum in newsletter.citizenForums %}
            <table class="row extra-m-bottom">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5><a href="{{ url('demofony2_front_participation_citizen_forums_edit', {id: citizenForum.id, slug: citizenForum.titleSlug}, true) }}">{{ citizenForum.title }}</a></h5>
                                    <p>{% include 'Front/includes/truncated-summary.html.twig' with {value: citizenForum.description, amount: 200} %}</p>
                                    <table class="button radius">
                                        <tr>
                                            <td>
                                                <a href="{{ url('demofony2_front_participation_citizen_forums_edit', {id: citizenForum.id, slug: citizenForum.titleSlug}, true) }}">Llegir més</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.citizenInitiatives | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Iniciatives Ciutadanes</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for citizenInitiative in newsletter.citizenInitiatives %}
            <table class="row extra-m-bottom">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5><a href="{{ url('demofony2_front_participation_citizen_initiative_detail', {id: citizenInitiative.id}, true) }}">{{ citizenInitiative.title }}</a></h5>
                                    <p>{% include 'Front/includes/truncated-summary.html.twig' with {value: citizenInitiative.description, amount: 200} %}</p>
                                    <table class="button radius">
                                        <tr>
                                            <td>
                                                <a href="{{ url('demofony2_front_participation_citizen_initiative_detail', {id: citizenInitiative.id}, true) }}">Llegir més</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
    {% if newsletter.documents | length > 0 %}
        <table class="row">
            <tr>
                <td class="wrapper last">
                    <table class="twelve columns">
                        <tr>
                            <td class="panel">
                                <h3>Transparència</h3>
                            </td>
                            <td class="expander"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {% for document in newsletter.documents %}
            <table class="row extra-m-bottom">
                <tr>
                    <td class="wrapper last">
                        <table class="twelve columns">
                            <tr>
                                <td>
                                    <h5><a href="{{ url('demofony2_front_transparency_detail', {category: document.category.slug, document: document.slug}, true) }}">{{ document.name }}</a></h5>
                                    <p>{% include 'Front/includes/truncated-summary.html.twig' with {value: document.description, amount: 200} %}</p>
                                    <table class="button radius">
                                        <tr>
                                            <td>
                                                <a href="{{ url('demofony2_front_transparency_detail', {category: document.category.slug, document: document.slug}, true) }}">Llegir més</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="expander"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
