{% extends ':Front:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ parent() }} · {{ 'front.profile.resetting.password_already_requested.title' | trans | capitalize }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-CMS.jpg' | imagine_filter('front_heading') }}" alt="logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="active">{{ 'front.profile.resetting.password_already_requested.title' | trans }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="transparency-list-header"><i class="fa fa-key"></i> {{ 'front.profile.resetting.password_already_requested.description' | trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ 'front.profile.resetting.password_already_requested.description' | trans }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('fos_user_resetting_send_email', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('fos_user_resetting_send_email', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('fos_user_resetting_send_email', {'_locale': 'en'}) }}{% endblock %}
