{% extends ":Front:layout.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.profile.request_reset_password' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="transparency"{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-profile" data-src="holder.js/1140x153/#7EA0B6:#7EA0B6/text: " alt="dummy"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="active">{{ 'front.profile.request_reset_password' | trans }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="transparency-list-header"><i class="fa fa-key"></i> {{ 'front.profile.request_reset_password' | trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Si has oblidat la teva contrasenya, introdeix el teu nom d'usuari amb el qual et vas registrar a la plataforma i t'enviarem una de nova a la bústia de correu electrònic. Si no reps cap missatge, verifica que no estigui marcat com <em>spam</em>.</p>
                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('fos_user_resetting_request', {_locale: 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('fos_user_resetting_request', {_locale: 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('fos_user_resetting_request', {_locale: 'en'}) }}{% endblock %}
