<ul class="media-list no-m-bottom">
    {# Root comment form #}
    <li class="media" data-ng-if="discussion.state != CFG.PROCESS_PARTICIPATION_STATE.CLOSED">
        <form id="top-level-comments-form">
            <div class="media-left">
                {% if app.user %}
                    <img class="media-object" src="{{ app.user | image | imagine_filter('60x60') }}" alt="{{ app.user.username }} GO Premià profile image">
                {% else %}
                    <img class="media-object" data-src="holder.js/60x60/text:?" alt="GO Premià nobody profile image">
                {% endif %}
            </div>
            <div class="media-body" style="width:100%">
                <span class="editable-wrap editable-text">
                    <div class="editable-controls form-group">
                        <label class="sr-only" for="myCommentTitle">{{ 'front.participation.discussions.debate.comment.title' | trans }}</label>
                        <input type="text" class="editable-input form-control" style="margin-bottom:5px" id="myCommentTitle" placeholder="{{ 'front.participation.discussions.debate.comment.title' | trans }}" data-ng-model="commentToPost.title" data-ng-click="comment.checkIfPostIsAvailable()" required="required">
                    </div>
                </span>
                <span class="editable-wrap editable-textarea">
                    <div class="editable-controls form-group">
                        <label class="sr-only" for="myCommentText">{{ 'front.participation.discussions.debate.comment.text' | trans }}</label>
                        <textarea class="editable-input form-control" id="myCommentText" placeholder="{{ 'front.participation.discussions.debate.comment.text' | trans }}" data-ng-model="commentToPost.comment" rows="5" data-ng-click="comment.checkIfPostIsAvailable()" required="required"></textarea>
                    </div>
                </span>
                <input type="submit" class="btn btn-primary" data-ng-click="comment.post(commentToPost)" value="{{ 'front.participation.discussions.debate.comment.send' | trans }}" data-ng-disabled="!commentToPost.title || !commentToPost.comment">
            </div>
        </form>
    </li>
    {# Root comment threads #}
    <li class="media" data-ng-repeat="c in comments.comments">
        <div class="media-left">
            <a data-ng-href="[[ getUserProfileUrl(c.author.username) ]]"><img class="media-object" data-ng-src="[[ c.author.image_url ]]" alt="[[ c.author.username ]] GO Premià profile image"></a>
        </div>
        <div class="media-body">
            <div class="form-group" data-ng-attr-id="edit-comment-[[c.id]]">
                <form data-editable-form name="editableForm" data-onaftersave="comment.put(c)">
                    <h4 class="media-heading" data-editable-text="c.title" data-e-name="title" data-e-required>[[ c.title ]]</h4>
                    <h6>[[ c.created_at | date:'dd/MM/yyyy HH:mm' ]]h · [[ c.author.username ]]</h6>
                    <p data-editable-textarea="c.comment" data-e-name="comment" data-e-rows="7" data-e-cols="200" data-e-required>[[ c.comment ]]</p>
                    <div>
                        {# Comment actions button bar #}
                        {#<!-- to like/unlike comment, edit own comment & answer comment whoever -->#}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="comment.like(c, $index)"   data-ng-disabled="!(c.user_already_like && !c.user_already_unlike || (!c.user_already_like && !c.user_already_unlike))"><span class="icon-comment_like_ok"></span> [[ c.likes_count ]]</button>
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="comment.unlike(c, $index)" data-ng-disabled="!(!c.user_already_like && c.user_already_unlike || (!c.user_already_like && !c.user_already_unlike))"><span class="icon-comment_like_ko"></span> [[ c.unlikes_count ]]</button>
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="editableForm.$show()" data-ng-show="!editableForm.$visible && username == c.author.username && discussion.state != CFG.PROCESS_PARTICIPATION_STATE.CLOSED"><span class="fa fa-edit"></span> {{ 'front.edit.comment' | trans }}</button>
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="comment.showAnswerCommentForm(c.id)" data-ng-show="username != c.author.username && discussion.state != CFG.PROCESS_PARTICIPATION_STATE.CLOSED"><span class="icon-comment"></span> {{ 'front.answer.comment' | trans }}</button>
                            <button type="button" class="btn btn-sm btn-info" data-ng-click="comment.getAnswers(c)" data-ng-show="c.children_count > 0 && !disableShowAnswersButton"><i class="fa fa-plus-square"></i> [[ c.children_count ]] {{ 'front.show.answers' | trans }}</button>
                        </div>
                        {#<!-- to submit/cancel own comment form -->#}
                        <span data-ng-show="editableForm.$visible">
                            <button type="submit" class="btn btn-sm btn-success" data-ng-disabled="editableForm.$waiting"><span class="icon-tick_ok"></span> {{ 'front.save' | trans }}</button>
                            <button type="button" class="btn btn-sm btn-danger" data-ng-disabled="editableForm.$waiting" data-ng-click="editableForm.$cancel()"><span class="icon-tick_ko"></span> {{ 'front.cancel' | trans }}</button>
                        </span>
                    </div>
                </form>
                {# Nested response comment threads #}
                <ul class="media-list no-m-bottom" style="margin-top:20px">
                    <li class="media" data-ng-repeat="a in c.answers.comments">
                        <div class="media-left">
                            <a data-ng-href="[[ getUserProfileUrl(a.author.username) ]]"><img class="media-object" data-ng-src="[[ a.author.image_url ]]" alt="[[ a.author.username ]] GO Premià profile image"></a>
                        </div>
                        <div class="media-body">
                            <div class="form-group" data-ng-attr-id="edit-answer-[[ a.id ]]">
                                <form data-editable-form name="editableAnswerForm" data-onaftersave="comment.put(a)">
                                    <h4 class="media-heading" data-editable-text="a.title" data-e-name="title" data-e-required>[[ a.title ]]</h4>
                                    <h6>[[ a.created_at | date:'dd/MM/yyyy HH:mm' ]]h · [[ a.author.username ]]</h6>
                                    <p data-editable-textarea="a.comment" data-e-name="comment" data-e-rows="7" data-e-cols="200" data-e-required>[[ a.comment ]]</p>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
                {# Answer second level comment form #}
                <ul id="answer-comment-[[ c.id ]]" class="media-list hide" style="margin-top:10px" data-ng-if="username != c.author.username">
                    <li class="media">
                        <div class="media-left">
                            {% if app.user %}
                                <img class="media-object" src="{{ app.user | image | imagine_filter('60x60') }}" alt="{{ app.user.username }} GO Premià profile image">
                            {% else %}
                                <img class="media-object" data-src="holder.js/60x60/text:?" alt="GO Premià nobody profile image">
                            {% endif %}
                        </div>
                        <div class="media-body" style="width:100%">
                            <form>
                                <div class="form-group">
                                    <label class="sr-only" for="myCommentTitleLevel1-[[ c.id ]]">{{ 'front.participation.discussions.debate.comment.title' | trans }}</label>
                                    <input type="text" class="form-control" id="myCommentTitleLevel1-[[ c.id ]]" placeholder="{{ 'front.participation.discussions.debate.comment.title' | trans }}" data-ng-model="commentToPost.title" data-ng-click="comment.checkIfPostIsAvailable()" required="required">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="myCommentTextLevel1-[[ c.id ]]">{{ 'front.participation.discussions.debate.comment.text' | trans }}</label>
                                    <textarea class="form-control" id="myCommentTextLevel1-[[ c.id ]]" placeholder="{{ 'front.participation.discussions.debate.comment.text' | trans }}" data-ng-model="commentToPost.comment" cols="100" rows="5" data-ng-click="comment.checkIfPostIsAvailable()" required="required"></textarea>
                                </div>
                                <input type="submit" class="btn btn-primary" data-ng-click="comment.post(commentToPost, c)" value="{{ 'front.participation.discussions.debate.comment.send' | trans }}" data-ng-disabled="!commentToPost.title || !commentToPost.comment">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
