<h2 class="no-m-top" style="margin-bottom:15px"><span class="label label-blue-light">{{ discussion.stateName | trans }}</span></h2>
<h4>{{ 'front.participation.discussions.date.begin' | trans }}: {{ discussion.presentationAt | localizeddate('medium', 'none') }}</h4>
<h4>{{ 'front.participation.discussions.date.end' | trans }}: {{ discussion.finishAt | localizeddate('medium', 'none') }}</h4>
{#<h4>{{ 'front.participation.discussions.tags' | trans }}</h4>#}
<ul class="list-inline">
    {% for category in discussion.categories %}
        <li><span class="label label-blue-dark">{{ category.name }}</span></li>
    {% endfor %}
</ul>
<h3>{{ discussion.title }}</h3>
