<div class="list-group no-m-bottom">
    {% for discussion in closeDiscussions %}
        <div class="list-group-item">
            <h3 class="list-group-item-heading">{{ discussion.title }} <span class="badge">{{ discussion.stateName | trans }}</span><small class="pull-right">{{ discussion.createdAt | localizeddate('medium', 'none') }}</small></h3>
            <p class="list-group-item-text">{{ discussion.description }}</p>
            <div class="btn-group extra-m-top" role="group">
                <button class="btn btn-sm btn-default" type="button"><i class="fa fa-file"></i> {{ discussion.documents.count }}</button>
                <button class="btn btn-sm btn-default" type="button"><i class="fa fa-comment"></i> {{ discussion.commentsNotModeratedCount }}{# TODO filter moderated comments #}</button>
                {% for answer in discussion.proposalAnswers %}
                    <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> {{ answer.votes.count }} {{ answer.title }}</button>
                {% endfor %}
                <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_participation_discussions_edit', {id: discussion.id, discussion: discussion.titleSlug}) }}"><i class="fa fa-file-text-o"></i> {{ 'front.participation.discussions.resume' | trans }}</a>
                <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_participation_discussions_edit', {id: discussion.id, discussion: discussion.titleSlug}) }}"><i class="fa fa-pie-chart"></i> {{ 'front.participation.discussions.stats' | trans }}</a>
            </div>
        </div>
    {% else %}
        <div class="list-group-item">
            <div class="alert alert-warning no-m-bottom" role="alert">
                <p class="llist-group-item-text"><i class="fa fa-exclamation-triangle"></i> {{ 'front.participation.discussions.noitems' | trans }}</p>
            </div>
        </div>
    {% endfor %}
</div>
