<div class="list-group no-m-bottom">
    {% for discussion in discussions %}
        <a class="advert-anchor" href="{{ path('demofony2_front_participation_discussions_edit', {id: discussion.id, discussion: discussion.titleSlug}) }}">
            <div class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        {% if discussion.gallery | length > 0 %}
                            <img class="media-object" src="{{ discussion.gallery[0] | gallery(discussion) | imagine_filter('80x80') }}" alt="{{ discussion.title }}">
                        {% else %}
                            <img class="media-object" data-src="holder.js/80x80/#FFF:#FFF" alt="dummy">
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <div class="row">
                            <div class="col-xs-10"><h3 class="list-group-item-heading">{{ discussion.title }}</h3></div>
                            <div class="col-xs-2"><h3 class="list-group-item-heading"><small class="pull-right">{{ discussion.createdAt | localizeddate('medium', 'none') }}</small></h3></div>
                        </div>
                        {% if discussion.state is not constant('CLOSED', discussion) %}
                            <h4><span class="label label-blue">{{ discussion.stateName | trans }}</span></h4>
                        {% endif %}
                        {% set description = discussion.description | striptags %}
                        {% autoescape false %}
                            <p class="list-group-item-text">{{ description | length > 200 ?  description[:200] ~ '...' : description }}</p>
                        {% endautoescape %}
                        <ul class="list-inline">
                            {% if discussion.documents | length > 0 %}
                                <li><span class="icon-cloud_download"></span> {{ discussion.documents | length }}</li>
                            {% endif %}
                            {% if discussion.gallery | length > 0 %}
                                <li><span class="icon-photo_camera"></span> {{ discussion.gallery | length }}</li>
                            {% endif %}
                            {% if discussion.commentsNotModeratedCount %}
                                <li><span class="icon-comment_outline"></span> {{ discussion.commentsNotModeratedCount  }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            <div class="alert alert-warning no-m-bottom" role="alert">
                <p class="list-group-item-text"><span class="icon-warning"></span> {{ 'front.participation.discussions.noitems' | trans }}</p>
            </div>
        </div>
    {% endfor %}
</div>
