<div class="list-group no-m-bottom">
    {% for proposal in proposals %}
        <a class="advert-anchor" href="{{ path('demofony2_front_participation_proposals_show', {id: proposal.id, titleSlug: proposal.titleSlug}) }}">
            <div class="list-group-item">
                <h3 class="list-group-item-heading">{{ proposal.title }} <small class="pull-right">{{ proposal.createdAt | localizeddate('medium', 'none') }}</small></h3>
                <p class="list-group-item-text">{{ proposal.description }}</p>
                <ul class="list-inline">
                    {% if proposal.documents | length > 0 %}
                        <li><span class="icon-cloud_download"></span> {{ proposal.documents | length }}</li>
                    {% endif %}
                    {% if proposal.images | length > 0 %}
                        <li><span class="icon-photo_camera"></span> {{ proposal.images | length }}</li>
                    {% endif %}
                    {% if proposal.commentsNotModeratedCount %}
                        <li><span class="icon-comment_outline"></span> {{ proposal.commentsNotModeratedCount }}</li>
                    {% endif %}
                </ul>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            <div class="alert alert-warning no-m-bottom" role="alert">
                <p class="list-group-item-text"><span class="icon-warning"></span> {{ 'front.participation.discussions.noitems' | trans }}</p>
            </div>
        </div>
    {% endfor %}
</div>
