{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        {#<!-- Banner -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h1>{% trans %}front.home.heading{% endtrans %}</h1>
                    <p class="lead">{% trans %}front.home.subheading{% endtrans %}</p>
                    <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_homepage') }}">{% trans %}front.calltoaction{% endtrans %}</a>
                </div>
            </div>
        </div>
        {#<!-- Features -->#}
        <div class="row">
            <div class="col-md-4">
                {#<!-- Government Box -->#}
                <div class="thumbnail">
                    <a href="{{ path('demofony2_front_government') }}">
                        <img class="img-responsive" src="http://lorempixel.com/g/350/200/business/1" alt=""/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2>{% trans %}front.home.block.government.title{% endtrans %}</h2>
                            <p>{{ words(24) }}</p>
                        </header>
                        <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_government') }}">{% trans %}front.home.block.more{% endtrans %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {#<!-- Transparency Box -->#}
                <div class="thumbnail">
                    <a href="{{ path('demofony2_front_transparency') }}">
                        <img class="img-responsive" src="http://lorempixel.com/g/350/200/business/2" alt=""/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2>{% trans %}front.home.block.transparency.title{% endtrans %}</h2>
                            <p>{{ words(24) }}</p>
                        </header>
                        <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_transparency') }}">{% trans %}front.home.block.more{% endtrans %}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {#<!-- Participation Box -->#}
                <div class="thumbnail">
                    <a href="{{ path('demofony2_front_participation') }}">
                        <img class="img-responsive" src="http://lorempixel.com/g/350/200/business/3" alt=""/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2>{% trans %}front.home.block.participation.title{% endtrans %}</h2>
                            <p>{{ words(24) }}</p>
                        </header>
                        <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_participation') }}">{% trans %}front.home.block.more{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Current Activity -->#}
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h3>{% trans %}front.home.activity.participation.title{% endtrans %}</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h3>{% trans %}front.home.activity.transparency.title{% endtrans %}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h3>{% trans %}front.home.levels.title{% endtrans %}</h3>
                </div>
            </div>
        </div>
        {#<!-- Add Ons -->#}
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h4>{% trans %}front.home.addons.question.title{% endtrans %}</h4>
                    <p>{{ words(8) }}</p>
                    <a class="btn btn-sm btn-primary" href="#">{% trans %}front.home.block.more{% endtrans %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4>{% trans %}front.home.addons.tutorial.title{% endtrans %}</h4>
                    <p>{{ words(9) }}</p>
                    <a class="btn btn-sm btn-primary" href="#">{% trans %}front.home.block.more{% endtrans %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4>{% trans %}front.home.addons.rules.title{% endtrans %}</h4>
                    <p>{{ words(9) }}</p>
                    <a class="btn btn-sm btn-primary" href="#">{% trans %}front.home.block.more{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
