{% extends ':Front:layout.html.twig' %}

{% block main %}
    {#<!-- Banner -->#}
    <div id="banner-wrapper">
        <div id="banner" class="box container">
            <div class="row">
                <div class="12u">
                    <h2>{% trans %}front.home.heading{% endtrans %}</h2>
                    <p>{% trans %}front.home.subheading{% endtrans %}</p>
                </div>
                {#<div class="5u">#}
                {#<ul>#}
                {#<li><a href="#" class="button big icon fa-arrow-circle-right">Ok let's go</a></li>#}
                {#<li><a href="#" class="button alt big icon fa-question-circle">More info</a></li>#}
                {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>
    {#<!-- Features -->#}
    <div id="features-wrapper">
        <div class="container">
            <div class="row">
                <div class="4u">
                    {#<!-- Government Box -->#}
                    <section class="box feature">
                        <a href="{{ path('demofony2_front_government') }}" class="image featured"><img src="{{ asset('bundles/demofony2app/images/pic01.jpg') }}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>{% trans %}front.home.block.government.title{% endtrans %}</h2>
                                <p>{% trans %}front.home.block.government.subtitle{% endtrans %}</p>
                            </header>
                            <p>{% trans %}front.home.block.government.text{% endtrans %}</p>
                        </div>
                    </section>
                </div>
                <div class="4u">
                    {#<!-- Transparency Box -->#}
                    <section class="box feature">
                        <a href="{{ path('demofony2_front_transparency') }}" class="image featured"><img src="{{ asset('bundles/demofony2app/images/pic02.jpg') }}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>{% trans %}front.home.block.transparency.title{% endtrans %}</h2>
                                <p>{% trans %}front.home.block.transparency.subtitle{% endtrans %}</p>
                            </header>
                            <p>{% trans %}front.home.block.transparency.text{% endtrans %}</p>
                        </div>
                    </section>
                </div>
                <div class="4u">
                    {#<!-- Participation Box -->#}
                    <section class="box feature last">
                        <a href="{{ path('demofony2_front_participation') }}" class="image featured"><img src="{{ asset('bundles/demofony2app/images/pic03.jpg') }}" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>{% trans %}front.home.block.participation.title{% endtrans %}</h2>
                                <p>{% trans %}front.home.block.participation.subtitle{% endtrans %}</p>
                            </header>
                            <p>{% trans %}front.home.block.participation.text{% endtrans %}</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    {#<!-- Main -->#}
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="4u">
                    {#<!-- Sidebar -->#}
                    <div id="sidebar">
                        <section class="widget thumbnails">
                            <h3>Interesting stuff</h3>
                            <div class="grid">
                                <div class="row no-collapse 50%">
                                    <div class="6u"><a href="#" class="image fit"><img src="{{ asset('bundles/demofony2app/images/pic04.jpg') }}" alt="" /></a></div>
                                    <div class="6u"><a href="#" class="image fit"><img src="{{ asset('bundles/demofony2app/images/pic05.jpg') }}" alt="" /></a></div>
                                </div>
                                <div class="row no-collapse 50%">
                                    <div class="6u"><a href="#" class="image fit"><img src="{{ asset('bundles/demofony2app/images/pic06.jpg') }}" alt="" /></a></div>
                                    <div class="6u"><a href="#" class="image fit"><img src="{{ asset('bundles/demofony2app/images/pic07.jpg') }}" alt="" /></a></div>
                                </div>
                            </div>
                            <a href="#" class="button icon fa-file-text-o">More</a>
                        </section>
                    </div>
                </div>
                <div class="8u important(collapse)">
                    {#<!-- Content -->#}
                    <div id="content">
                        <section class="last">
                            <h2>So what's this all about?</h2>
                            <p>This is <strong>Verti</strong>, a free and fully responsive HTML5 site template by <a href="http://html5up.net">HTML5 UP</a>.
                                Verti is released under the <a href="http://html5up.net/license">Creative Commons Attribution license</a>, so feel free to use it for any personal or commercial project you might have going on (just don't forget to credit us for the design!)</p>
                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit amet phasellus quam turpis.</p>
                            <a href="#" class="button icon fa-arrow-circle-right">Continue Reading</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
