{% extends ':Front:layout.html.twig' %}

{% block bodyattr %}class="homepage"{% endblock %}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}


{% block main %}
    <div class="container">
        {#<!-- Banner -->#}
        <div class="row no-m-bottom">
            <div class="col-md-12">
                <div class="jumbotron square-borders no-m-bottom">
                    <div class="left-side">
                        <img src="{{ 'bundles/demofony2app/images/logo-with-text.png' | imagine_filter('front_menu_logo') }}" alt="Govern Obert Premià de Mar logo"/>
                    </div>
                    <div class="right-side">
                        <h1 class="no-m-top text-right">{{ 'front.home.heading' | trans | raw }}</h1>
                        <h3 class="text-right">{{ 'front.home.share' | trans }}</h3>
                        <p class="text-right">
                            <a class="c-white" href="#"><span class="icon-share_facebook"></span></a>
                            <a class="c-white" href="#"><span class="icon-share_twitter"></span></a>
                            {#<a class="c-white" href="#"><span class="fa fa-google-plus-square fa-3x"></i></a>#}
                            <a class="c-white" href="#"><span class="icon-share_email"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="subheading-landing">
                    <p class="text-center no-m-bottom">{{ 'front.home.subheading' | trans | raw }}</p>
                </div>
            </div>
        </div>
        {#<!-- Features -->#}
        <div class="row">
            <div class="col-md-6">
                {#<!-- Transparency Box -->#}
                <div class="well">
                    <a href="{{ path('demofony2_front_transparency') }}">
                        {#<img class="img-responsive center-block" src="http://i.istockimg.com/file_thumbview_approve/4279055/2/stock-photo-4279055-piggy-bank-with-change-inside.jpg" alt="dummy"/>#}
                        <img class="img-responsive center-block" data-src="holder.js/555x253/#D4DFE7:#D4DFE7" alt="dummy"/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2 class="no-m-top">{{ 'front.home.block.transparency.title' | trans }}</h2>
                            <p>{{ words(24) }}</p>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="{{ path('demofony2_front_transparency') }}">+ {{ 'front.home.block.more' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {#<!-- Participation Box -->#}
                <div class="well">
                    <a href="{{ path('demofony2_front_participation') }}">
                        {#<img class="img-responsive center-block" src="http://i.istockimg.com/file_thumbview_approve/13729308/2/stock-photo-13729308-united-group-saying-yes-chalk-drawing.jpg" alt="dummy"/>#}
                        <img class="img-responsive center-block" data-src="holder.js/555x253/#D4DFE7:#D4DFE7" alt="dummy"/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2 class="no-m-top">{{ 'front.home.block.participation.title' | trans }}</h2>
                            <p>{{ words(24) }}</p>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="{{ path('demofony2_front_participation') }}">+ {{ 'front.home.block.more' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Current Activity -->#}
        {#<div class="row">#}
            {#<div class="col-md-6">#}
                {#<div class="well">#}
                    {#<img data-src="holder.js/515x140/text:{{ 'front.home.activity.transparency.title' | trans }}" class="img-responsive" alt="dummy">#}
                    {#&#123;&#35;<span class="label label-default df-label-secondary">{{ 'front.home.activity.transparency.title' | trans }}</span>&#35;&#125;#}
                    {#<div class="media">#}
                        {#<a class="media-left" href="#">#}
                            {#<img class="img-responsive thumb" src="http://i.istockimg.com/file_thumbview_approve/44870034/2/stock-photo-44870034-celebrating-their-success.jpg" alt="dummy">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading">{{ words(3) }}</h4>#}
                            {#{{ words(12) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="media">#}
                        {#<a class="media-left" href="#">#}
                            {#<img class="img-responsive thumb" src="http://i.istockimg.com/file_thumbview_approve/41589802/2/stock-photo-41589802-business-diverse-group-of-professionals-share-data-during-office-meeting.jpg" alt="dummy">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading">{{ words(3) }}</h4>#}
                            {#{{ words(12) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="media">#}
                        {#<a class="media-left" href="#">#}
                            {#<img class="img-responsive thumb" src="http://i.istockimg.com/file_thumbview_approve/34414792/2/stock-photo-34414792-multi-cultural-office-staff-sitting-having-meeting-together.jpg" alt="dummy">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading">{{ words(3) }}</h4>#}
                            {#{{ words(12) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-6">#}
                {#<div class="well">#}
                    {#<img data-src="holder.js/515x140/text:{{ 'front.home.activity.participation.title' | trans }}" class="img-responsive" alt="dummy">#}
                    {#&#123;&#35;<span class="label label-default df-label-secondary">{{ 'front.home.activity.participation.title' | trans }}</span>&#35;&#125;#}
                    {#<div class="media">#}
                        {#<a class="media-left" href="#">#}
                            {#<img class="img-responsive thumb" src="http://i.istockimg.com/file_thumbview_approve/32740950/2/stock-photo-32740950-happy-mature-couple-together-in-autumn-park.jpg" alt="dummy">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading">{{ words(3) }}</h4>#}
                            {#{{ words(12) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="media">#}
                        {#<a class="media-left" href="#">#}
                            {#<img class="img-responsive thumb" src="http://i.istockimg.com/file_thumbview_approve/26707801/2/stock-photo-26707801-teenage-girl-texting.jpg" alt="dummy">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading">{{ words(3) }}</h4>#}
                            {#{{ words(12) }}#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="media">#}
                        {#<a class="media-left" href="#">#}
                            {#<img class="img-responsive thumb" src="http://i.istockimg.com/file_thumbview_approve/29370170/2/stock-photo-29370170-portrait-of-attractive-man.jpg" alt="dummy">#}
                        {#</a>#}
                        {#<div class="media-body">#}
                            {#<h4 class="media-heading">{{ words(3) }}</h4>#}
                            {#{{ words(12) }}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<!-- Tranparecy Indicators -->#}
        {% include ':Front/includes:transparency-indicators.html.twig' %}
        {#<!-- Add Ons -->#}
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <img data-src="holder.js/300x140/text:{{ 'front.home.addons.question.title' | trans }}" class="img-responsive" alt="dummy">
                    <h4></h4>
                    {#<h4 class="no-m-top">{{ 'front.home.addons.question.title' | trans }}</h4>#}
                    <p>{{ words(10) }}</p>
                    <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#homepage-modal-form"><i class="fa fa-pencil-square-o fa-lg"></i> {{ 'front.home.addons.question.button' | trans }}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img data-src="holder.js/300x140/text:{{ 'front.home.addons.tutorial.title' | trans }}" class="img-responsive" alt="dummy">
                    <h4></h4>
                    {#<h4 class="no-m-top">{{ 'front.home.addons.tutorial.title' | trans }}</h4>#}
                    <p>{{ words(10) }}</p>
                    <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_cms_easy_guide') }}"><span class="glyphicon glyphicon-plus" data-aria-hidden="true"></span> {{ 'front.home.block.more' | trans }}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <img data-src="holder.js/300x140/text:{{ 'front.home.addons.rules.title' | trans }}" class="img-responsive" alt="dummy">
                    <h4></h4>
                    {#<h4 class="no-m-top">{{ 'front.home.addons.rules.title' | trans }}</h4>#}
                    <p>{{ words(10) }}</p>
                    <a class="btn btn-sm btn-primary" href="{{ path('demofony2_front_cms_regulation') }}"><span class="glyphicon glyphicon-plus" data-aria-hidden="true"></span> {{ 'front.home.block.more' | trans }}</a>
                </div>
            </div>
        </div>
        {% include 'Front/includes/homepage-modal-form.html.twig' with {'form': form} %}
    </div>
{% endblock %}
