{% extends ':Front:layout.html.twig' %}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block bodyattr %}class="homepage"{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Banner -->#}
        <div class="row no-m-bottom">
            <div class="col-md-12">
                <div class="jumbotron square-borders no-m-bottom">
                    <div class="left-side">
                        <img src="{{ 'bundles/demofony2app/images/logo-with-text.png' | imagine_filter('front_menu_logo') }}" alt="Govern Obert Premià de Mar logo"/>
                    </div>
                    <div class="right-side">
                        <h1 class="no-m-top text-right">{{ 'front.home.heading' | trans | raw }}</h1>
                        <h3 class="text-right">{{ 'front.home.share' | trans }}</h3>
                        <p class="text-right">
                            <a class="c-white" href="#"><span class="icon-share_facebook"></span></a>
                            <a class="c-white" href="#"><span class="icon-share_twitter"></span></a>
                            <a class="c-white" href="#"><span class="icon-share_google_plus"></span></a>
                            <a class="c-white" href="#"><span class="icon-share_email"></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="subheading-landing">
                    <p class="text-center no-m-bottom">{{ 'front.home.subheading' | trans | raw }}</p>
                </div>
            </div>
        </div>
        {#<!-- Features -->#}
        <div class="row">
            <div class="col-md-6">
                {#<!-- Transparency Box -->#}
                <div class="well main-advert">
                    <a href="{{ path('demofony2_front_transparency') }}">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/transparencia.jpg' | imagine_filter('555x253') }}" alt="{{ 'front.home.block.transparency.title' | trans }} logo"/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2 class="no-m-top">{{ 'front.home.block.transparency.title' | trans }}</h2>
                            <p>{{ words(30) }}</p>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="{{ path('demofony2_front_transparency') }}">+ {{ 'front.home.block.more' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {#<!-- Participation Box -->#}
                <div class="well main-advert">
                    <a href="{{ path('demofony2_front_participation') }}">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/participacio.png' | imagine_filter('555x253') }}" alt="{{ 'front.home.block.participation.title' | trans }} logo"/>
                    </a>
                    <div class="caption">
                        <header>
                            <h2 class="no-m-top">{{ 'front.home.block.participation.title' | trans }}</h2>
                            <p>{{ words(20) }}</p>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="{{ path('demofony2_front_participation') }}">+ {{ 'front.home.block.more' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Current Activity -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="well bg-grey">
                    <h4>{{ 'front.home.activity.timeline' | trans }}</h4>
                    <div class="row no-m-bottom">
                        <div class="col-md-6">
                            <div class="bg-white">
                                <h6><span class="icon-arrow_right"></span>{{ 'front.home.block.transparency.title' | trans }}</h6>
                                {% include 'Front/includes/transparency/current-activity.html.twig' with { documents: transparencyCurrentActivity } %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bg-white">
                                <h6><span class="icon-arrow_right"></span>{{ 'front.home.block.participation.title' | trans }}</h6>
                                {% include ':Front/includes/participation:current-activity.html.twig' with { objects: participationCurrentActivity } %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Add Ons -->#}
        <div class="row">
            <div class="col-md-4">
                <div class="well bottom-advert">
                    <div class="caption bg-blue-light">
                        <header>
                            <h2 class="no-m-top text-center">
                                <span class="icon-comment_question_mark"></span><br>
                                {{ 'front.home.addons.question.title' | trans }}
                            </h2>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="#" data-toggle="modal" data-target="#homepage-modal-form">{{ 'front.home.addons.question.button' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well bottom-advert">
                    <div class="caption bg-blue-light">
                        <header>
                            <h2 class="no-m-top text-center">
                                <span class="icon-checklist"></span><br>
                                {{ cms.easyGuide.title | upper }}
                            </h2>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="{{ path('demofony2_front_cms_easy_guide') }}">+ {{ 'front.home.block.more' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well bottom-advert">
                    <div class="caption bg-blue-light">
                        <header>
                            <h2 class="no-m-top text-center">
                                <span class="icon-laws"></span><br>
                                {{ cms.regulation.title | upper }}
                            </h2>
                        </header>
                        <p class="no-m-bottom text-right">
                            <a class="c-yellow" href="{{ path('demofony2_front_cms_regulation') }}">+ {{ 'front.home.block.more' | trans }}</a><span class="icon-arrow_left"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'Front/includes/homepage-modal-form.html.twig' with {'form': form} %}
    </div>
{% endblock %}
