{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        {#<!-- Banner -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>{% trans %}front.home.heading{% endtrans %}</h2>
                    <p>{% trans %}front.home.subheading{% endtrans %}</p>
                </div>
            </div>
        </div>
        {#<!-- Features -->#}
        <div class="row">
            <div class="col-md-4">
                {#<!-- Government Box -->#}
                <section class="box feature">
                    <a href="{{ path('demofony2_front_government') }}"><img class="img-responsive" src="{{ asset('bundles/demofony2app/images/pic01.jpg') }}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>{% trans %}front.home.block.government.title{% endtrans %}</h2>
                            <p>{% trans %}front.home.block.government.subtitle{% endtrans %}</p>
                        </header>
                        <p>{% trans %}front.home.block.government.text{% endtrans %}</p>
                        <a class="btn btn-primary" href="{{ path('demofony2_front_government') }}">{% trans %}front.home.block.more{% endtrans %}</a>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                {#<!-- Transparency Box -->#}
                <section class="box feature">
                    <a href="{{ path('demofony2_front_transparency') }}"><img class="img-responsive" src="{{ asset('bundles/demofony2app/images/pic02.jpg') }}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>{% trans %}front.home.block.transparency.title{% endtrans %}</h2>
                            <p>{% trans %}front.home.block.transparency.subtitle{% endtrans %}</p>
                        </header>
                        <p>{% trans %}front.home.block.transparency.text{% endtrans %}</p>
                        <a class="btn btn-primary" href="{{ path('demofony2_front_transparency') }}">{% trans %}front.home.block.more{% endtrans %}</a>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                {#<!-- Participation Box -->#}
                <section class="box feature last">
                    <a href="{{ path('demofony2_front_participation') }}"><img class="img-responsive" src="{{ asset('bundles/demofony2app/images/pic03.jpg') }}" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>{% trans %}front.home.block.participation.title{% endtrans %}</h2>
                            <p>{% trans %}front.home.block.participation.subtitle{% endtrans %}</p>
                        </header>
                        <p>{% trans %}front.home.block.participation.text{% endtrans %}</p>
                        <a class="btn btn-primary" href="{{ path('demofony2_front_participation') }}">{% trans %}front.home.block.more{% endtrans %}</a>
                    </div>
                </section>
            </div>
        </div>
        {#<!-- Main -->#}
        <div class="row">

        </div>
    </div>
{% endblock %}
