<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>{% block title %}GO Premià de Mar{% endblock %}</title>
    <meta name="author" content="{% block metaauthor %}{% endblock %}">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="keywords" content="{% block metakeywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}">
    {% block extrametas %}{% endblock %}
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/main.css') }}">{% endblock %}
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</head>
<body {% block bodyattr %}{% endblock %}>
{% if not is_granted('ROLE_USER') %}
    {% include ':Front/includes:login-modal-form.html.twig' %}
{% endif %}
<!--[if lt IE 8]>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="no-m"><span class="icon-warning"></span> {{ 'front.browser.happy' | trans | raw }} <a href="http://browsehappy.com/?locale={{ app.request.locale }}">www.browserhappy.com</a></h2>
            </div>
        </div>
    </div>
</div>
<![endif]-->
{#<!-- Fixed top menu -->#}
<nav class="navbar navbar-default navbar-fixed-top df-navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" data-aria-expanded="false" data-aria-controls="navbar">
                <span class="sr-only">{{ 'front.toggle' | trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('demofony2_front_homepage') }}"><img src="{{ 'bundles/demofony2app/images/logo-full-text-wide.png' | imagine_filter('front_menu_logo') }}" alt="GO Premià de Mar logo"/></a>
            <p class="navbar-text text-hide">GO Premià de Mar</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {#<li class="first divider-vertical"></li>#}
                {% if is_granted('ROLE_USER') %}
                    {#<!-- logged -->#}
                    {% include 'Front/includes/navbar-user.html.twig' %}
                {% else %}
                    {#<!-- not logged -->#}
                    <li class="dropdown">
                        <button id="button-dropdown-toggle-login-form" type="button" class="dropdown-toggle navbar-btn btn btn-sm btn-yellow" data-toggle="dropdown">{{ 'front.home.login' | trans }}</button>
                        <ul class="dropdown-menu df-dropdown-login-menu">
                            <li>
                                <div class="row no-m-bottom">
                                    <div class="col-md-12">
                                        {{ render(controller('FOSUserBundle:Security:customLogin', {request: app.request})) }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    {{ render(controller('FOSUserBundle:Registration:register', {request: app.request})) }}
                {% endif %}
            </ul>
            {{ knp_menu_render('frontend', {template: ':Front/menu:knp_menu.html.twig', 'currentClass': 'active'}) }}
        </div>
    </div>
</nav>
{% include ':Front/includes:flashes.html.twig' %}
{% block main %}{% endblock %}
{#<!-- Footer -->#}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <address>
                    <a target="_blank" href="http://www.premiademar.cat"><img src="{{ 'bundles/demofony2app/images/logo-ajuntament-premia-full.png' | imagine_filter('front_menu_logo') }}" alt="Ajuntament Premià de Mar logo"/></a>
                    <strong class="sr-only">AJUNTAMENT DE PREMIÀ DE MAR</strong><br>
                    Plaça de l'Ajuntament, 1<br>
                    08330 Permià de Mar<br>
                    <i class="fa fa-phone-square fa-lg"></i> 937 417 400
                </address>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-2x fa-fw"></i></a>
                        <a href="#"><i class="fa fa-rss fa-2x fa-fw"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-inline pull-right">
                            <li><small><a href="{{ path('demofony2_front_privacy') }}">{{ 'front.privacy' | trans }}</a></small></li>
                            <li><small><a href="{{ path('demofony2_front_legal') }}">{{ 'front.legal' | trans }}</a></small></li>
                            <li><small><a href="{{ path('demofony2_front_credits') }}">{{ 'front.credits' | trans }}</a></small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block body_javascripts %}{% endblock %}
</body>
</html>
