{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well participation-well">
                    <h1 class="no-m-top no-m-bottom"><span class="label label-transparent">{% trans %}front.participation.heading{% endtrans %}</span></h1>
                    {#<p class="lead">{% trans %}front.participation.subheading{% endtrans %}</p>#}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="well">
                    <h4 class="no-m-top">{% trans %}front.participation.calendar.title{% endtrans %}</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><span class="badge">15/12/2014</span>Cras justo odio</li>
                        <li class="list-group-item"><span class="badge">17/12/2014</span>Dapibus ac facilisis in</li>
                        <li class="list-group-item"><span class="badge">17/12/2014</span>Morbi leo risus</li>
                        <li class="list-group-item"><span class="badge">20/12/2014</span>Porta ac consectetur ac</li>
                    </ul>
                    <a class="btn btn-sm btn-primary" href="#"><i class="fa fa-calendar"></i> {% trans %}front.participation.calendar.action{% endtrans %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4 class="no-m-top">{% trans %}front.home.addons.tutorial.title{% endtrans %}</h4>
                    <p>{{ words(10) }}</p>
                    <a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-plus" data-aria-hidden="true"></span> {% trans %}front.home.block.more{% endtrans %}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4 class="no-m-top">{% trans %}front.home.addons.rules.title{% endtrans %}</h4>
                    <p>{{ words(10) }}</p>
                    <a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-plus" data-aria-hidden="true"></span> {% trans %}front.home.block.more{% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h4>processos de debat</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h4>propostes ciutadanes</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation', {'_locale': 'en'}) }}{% endblock %}
