{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.home.block.participation.title' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="participation"{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" data-src="holder.js/1140x153/#7EA0B6:#7EA0B6" alt="dummy"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="active">{{ 'front.participation.heading' | trans }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Main blocks -->#}
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('demofony2_front_participation_discussions') }}">
                    <div class="well">
                        {#<img class="img-responsive center-block" src="http://i.istockimg.com/file_thumbview_approve/4279055/2/stock-photo-4279055-piggy-bank-with-change-inside.jpg" alt="dummy"/>#}
                        <img class="img-responsive center-block" data-src="holder.js/555x253/#D4DFE7:#D4DFE7" alt="dummy"/>
                        <div class="caption">
                            <header>
                                <h2 class="no-m-top">{{ 'front.participation.discussions' | trans }}</h2>
                                <p>{{ words(20) }}</p>
                            </header>
                            <p class="no-m-bottom text-right">
                                <span class="c-yellow">+ {{ 'front.home.block.more' | trans }}</span><span class="icon-arrow_left"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('demofony2_front_participation_proposals') }}">
                    <div class="well">
                        {#<img class="img-responsive center-block" src="http://i.istockimg.com/file_thumbview_approve/4279055/2/stock-photo-4279055-piggy-bank-with-change-inside.jpg" alt="dummy"/>#}
                        <img class="img-responsive center-block" data-src="holder.js/555x253/#D4DFE7:#D4DFE7" alt="dummy"/>
                        <div class="caption">
                            <header>
                                <h2 class="no-m-top">{{ 'front.participation.tell' | trans }}</h2>
                                <h4 class="no-m-top">{{ 'front.participation.tell.subtitle' | trans }}</h4>
                                <p>{{ words(20) }}</p>
                            </header>
                            <p class="no-m-bottom text-right">
                                <span class="c-yellow">+ {{ 'front.home.block.more' | trans }}</span><span class="icon-arrow_left"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {#<!-- Adverts -->#}
        <div class="row">
            <div class="col-md-3">
                <a href="#">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-calendar"></span></h2>
                        <h2 class="no-m-bottom">{{ 'front.participation.calendar' | trans }}</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-people"></span></h2>
                        <h2 class="no-m-bottom">{{ 'front.participation.citizens' | trans }}</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-comment"></span></h2>
                        <h2 class="no-m-bottom">{{ 'front.participation.ways' | trans }}</h2>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-people_ring"></span></h2>
                        <h2 class="no-m-bottom">{{ 'front.participation.portal' | trans }}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation', {'_locale': 'en'}) }}{% endblock %}
