{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.home.block.participation.title' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="participation"{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-participacio.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.participation.heading' | trans }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="active">{{ 'front.participation.heading' | trans }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Main blocks -->#}
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('demofony2_front_participation_discussions_list_open') }}">
                    <div class="well">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/caixa-participacio-debat.jpg' | imagine_filter('555x253') }}" alt="{{ 'front.participation.discussions' | trans }} logo"/>
                        <div class="caption">
                            <header>
                                <h2 class="no-m-top">{{ 'front.participation.discussions' | trans }}</h2>
                                <p>Permeten recollir l’opinió de la ciutadania respecte d’un tema d’interès general o una actuació de l’ajuntament mitjançant el contrast d’arguments, quan es tracta d’un debat públic, o el vot en urna, quan es tracta d’una consulta.</p>
                            </header>
                            <p class="no-m-bottom text-right">
                                <span class="c-yellow">+ {{ 'front.home.block.more' | trans }}</span><span class="icon-arrow_left"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('demofony2_front_citizen_forums_list_open') }}">
                    <div class="well">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/caixa-participacio-forum.jpg' | imagine_filter('555x253') }}" alt="{{ 'front.citizen.forums.tell' | trans }} logo"/>
                        <div class="caption">
                            <header>
                                <h2 class="no-m-top">{{ 'front.citizen.forums.tell' | trans | upper }}</h2>
                                <p>Són trobades obertes a tothom en què els responsables de l’ajuntament expliquen algun programa o actuació prevista al poble i escolten l’opinió dels assistents.</p>
                            </header>
                            <p class="no-m-bottom text-right">
                                <span class="c-yellow">+ {{ 'front.home.block.more' | trans }}</span><span class="icon-arrow_left"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('demofony2_front_participation_citizen_initiative_list_open') }}">
                    <div class="well">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/caixa-participacio-iniciatives.jpg' | imagine_filter('555x253') }}" alt="{{ 'front.citizen.initiative.tell' | trans }} logo"/>
                        <div class="caption">
                            <header>
                                <h2 class="no-m-top">{{ 'front.citizen.initiative.tell' | trans | upper }}</h2>
                                <p>Un grup de ciutadans pot prendre la iniciativa i demanar que l’ajuntament faci una determinada actuació d’interès públic sobre la qual tingui competència o es posicioni sobre un tema.</p>
                            </header>
                            <p class="no-m-bottom text-right">
                                <span class="c-yellow">+ {{ 'front.home.block.more' | trans }}</span><span class="icon-arrow_left"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('demofony2_front_participation_proposals_list_open') }}">
                    <div class="well">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/caixa-participacio-digues.jpg' | imagine_filter('555x253') }}" alt="{{ 'front.participation.tell' | trans }} logo"/>
                        <div class="caption">
                            <header>
                                <h2 class="no-m-top">{{ 'front.participation.tell' | trans | upper }}</h2>
                                <h4 class="no-m-top">{{ 'front.participation.tell.subtitle' | trans }}</h4>
                                <p>Proposa idees i solucions que ens han de permetre afrontar junts els reptes presents i futurs de la ciutat i valora les propostes d’altres veïns i veïnes. Recorda que si vols presentar una instància ho pots fer a l’Oficina d’Atenció Ciutadana.</p>
                            </header>
                            <p class="no-m-bottom text-right">
                                <span class="c-yellow">+ {{ 'front.home.block.more' | trans }}</span><span class="icon-arrow_left"></span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {#<!-- Adverts -->#}
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('calendar_event_list_by_month', {'year': "now"|date("Y"), 'month': "now"|date("m") }) }}">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-calendar"></span></h2>
                        <h3 class="no-m-bottom">{{ 'front.participation.calendar' | trans }}</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="{{ path('demofony2_front_citizen_record') }}">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-people"></span></h2>
                        <h3 class="no-m-bottom">{{ 'front.participation.citizens' | trans }}</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://www.premiademar.cat/participacio-associacionisme" target="_blank">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-comment_outline"></span></h2>
                        <h3 class="no-m-bottom">{{ 'front.participation.ways' | trans }}</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://entitats.premia.cat/" target="_blank">
                    <div class="advert text-center">
                        <h2 class="no-m-top"><span class="icon icon-people_ring"></span></h2>
                        <h3 class="no-m-bottom">{{ 'front.participation.portal' | trans }}</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation', {'_locale': 'en'}) }}{% endblock %}
