{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.home.block.transparency.title' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="transparency"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Breadcrumb -->#}
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="overlap">
                    <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-transparencia.jpg' | imagine_filter('1140x256') }}" alt="{{ 'front.home.block.transparency.title' | trans }} logo"/>
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="active">{{ 'front.home.block.transparency.title' | trans }}</li>
                        </ol>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {#<!-- Helper text block -->#}
    <div class="row">
        <div class="col-md-6">
            <p>El Portal de la Transparència vol millorar la transparència i la participació ciutadana, valors essencials del Govern Obert, per aconseguir una democràcia de major qualitat.</p>
            <p>El fet que tothom pugui disposar de la informació que és pública és un dret de la ciutadania i una necessitat per tenir millors pobles i administracions. L’Ajuntament de Premià de Mar vol informar i retre comptes de la seva activitat però també facilitar la informació que la ciutadania necessita per debatre públicament, participar-hi, implicar-s’hi i prendre decisions.</p>
        </div>
        <div class="col-md-6">
            <p><strong>Què és la informació pública?</strong> És aquella que elabora l’Administració i la que aquesta té en el seu poder com a conseqüència de la seva activitat o de l’exercici de les seves funcions.</p>
            <p><strong>Què trobaràs en el Portal?</strong></p>
            <ul>
                <li>Informació pública sobre l’organització, la planificació, la normativa, l’activitat econòmica o urbanística de l’Ajuntament i altres dades sobre Premià de Mar.</li>
                <li>Dades obertes actualitzades i reutilitzables per a aquelles persones i organitzacions que vulguin avaluar, innovar i oferir més i millors serveis.</li>
                <li>Les lleis i organismes avaluadors a què donen resposta els continguts del portal.</li>
                <li>L’apartat Col·labora-hi: on fer arribar les teves propostes d’informació pública i dades obertes per ser publicades al portal.</li>
                <li>Accés a la informació pública: per demanar i rebre personalment la informació pública.</li>
            </ul>
        </div>
    </div>
    {#<!-- Main blocks -->#}
    <div class="row">
        <div class="col-md-12">
            <h1 class="c-blue-dark em-title">{{ 'front.transparency.categories' | trans }}</h1>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4">
                <a href="{{ path('demofony2_front_transparency_list', {slug: category.slug}) }}">
                    <div class="well category-box">
                        <div class="caption">
                            <header>
                                <h2><span class="{{ category.iconName }}"></span></h2>
                            </header>
                            <h3 class="no-m">{{ category.name | upper }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {#<!-- Extra bottom blocks -->#}
    <div class="row">
        {# recent activity #}
        <div class="col-md-6">
            <div class="well bottom-box">
                <div class="row no-m-bottom">
                    <div class="col-md-3">
                        <div class="caption">
                            <header>
                                <h2 style="font-size:100px"><span class="icon-eye"></span></h2>
                            </header>
                            <h3 class="no-m">{{ 'front.transparency.interesting' | trans }}</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="interesting-docs">
                            <span class="icon icon-arrow_right"></span>
                            {% include 'Front/includes/transparency/current-activity.html.twig' with { documents: interestingDocs } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# external links #}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_rendering_account') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-search_sheet"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.accounts.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_collaborates') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-comment_outline"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.collaborate.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_transparency_law') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-stats"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.laws.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_public_information') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-info"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.info.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% include ':Front/includes:transparency-indicators.html.twig' %}#}
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_transparency', {_locale: 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_transparency', {_locale: 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_transparency', {_locale: 'en'}) }}{% endblock %}
