{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.home.block.transparency.title' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="transparency"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Breadcrumb -->#}
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="overlap">
                    <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-transparencia.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.home.block.transparency.title' | trans }} logo"/>
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="active">{{ 'front.home.block.transparency.title' | trans }}</li>
                        </ol>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {#<!-- Helper text block -->#}
    <div class="row main-text">
        <div class="col-md-6">
            <p>L’Ajuntament de Premià de Mar vol <strong>compartir</strong> i retre comptes de la seva activitat però també facilitar el debat públic i la informació que la ciutadania necessita per participar-hi, implicar-s’hi i <strong>prendre decisions</strong>.
            <p>La <strong>informació pública</strong> és la que elabora l’Administració o la que aquesta té en el seu poder per la seva activitat. És un <strong>dret ciutadà</strong> que tothom pugui disposar de la informació que és pública.
            <h4 class="no-m-top">Què trobaràs en el Portal?</h4>
            <ul>
                <li>Informació pública sobre l’organització, la planificació, la normativa, l’activitat econòmica o urbanística de l’Ajuntament i altres dades sobre Premià de Mar.</li>
                <li>Dades obertes actualitzades i reutilitzables per a aquelles persones i organitzacions que vulguin analitzar, investigar, innovar i oferir més i millors serveis.</li>
                {#<li>Les lleis i organismes avaluadors a què donen resposta els continguts del portal.</li>#}
                {#<li>L’apartat Col·labora-hi: on fer arribar les teves propostes d’informació pública i dades obertes per ser publicades al portal.</li>#}
                {#<li>Accés a la informació pública: per demanar i rebre personalment la informació pública.</li>#}
            </ul>
        </div>
        <div class="col-md-6">
            <a target="_blank" href="http://premiademar.cloudapp.net/ca/Budgets/Areas/Index"><img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/donut.jpg' | imagine_filter('transparency_link') }}" alt="{{ 'Pressupostos' | trans }} logo"/></a>
        </div>
    </div>
    {#<!-- Main blocks -->#}
    {#<div class="row no-m-bottom">#}
        {#<div class="col-md-12">#}
            {#<h1 class="c-blue-dark em-title">{{ 'front.transparency.categories' | trans }}</h1>#}
        {#</div>#}
    {#</div>#}
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4">
                {% if category.slug == 'contractacio-convenis-i-subvencions' %}
                <a target="_blank" href="http://premiademar.cloudapp.net/ca/Contracts/Areas/index">
                {% else %}
                <a href="{{ path('demofony2_front_transparency_list', {slug: category.slug}) }}">
                {% endif %}
                    <div class="well category-box">
                        <div class="caption">
                            <header>
                                <h2><span class="{{ category.iconName }}"></span></h2>
                            </header>
                            <h3 class="no-m">{{ category.name | upper }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {#<!-- Extra bottom blocks -->#}
    <div class="row">
        {# recent activity #}
        <div class="col-md-6">
            <div class="well bottom-box">
                <div class="row no-m-bottom">
                    <div class="col-md-3">
                        <div class="caption">
                            <header>
                                <h2 style="font-size:100px"><span class="icon-eye"></span></h2>
                            </header>
                            <h3 class="no-m eye-text">{{ 'front.transparency.interesting' | trans }}</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="interesting-docs">
                            <span class="icon icon-arrow_right"></span>
                            {% include 'Front/includes/transparency/current-activity.html.twig' with { documents: interestingDocs } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# external links #}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_rendering_account') }}">
                        <div class="well bottom-box">
                            <div class="wrapper">
                                <div class="caption">
                                    <header>
                                        <h2><span class="icon-search_sheet"></span></h2>
                                    </header>
                                    <h3 class="no-m">{{ cms.accounts.title | upper }}</h3>
                                </div>
                                <div class="mask">
                                    <p>Segueix què vol fer i fa l’Ajuntament</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_collaborates') }}">
                        <div class="well bottom-box">
                            <div class="wrapper">
                                <div class="caption">
                                    <header>
                                        <h2><span class="icon-comment_outline"></span></h2>
                                    </header>
                                    <h3 class="no-m">{{ cms.collaborate.title | upper }}</h3>
                                </div>
                                <div class="mask">
                                    <p>Suggereix nova informació</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    {#<a href="{{ path('demofony2_front_cms_transparency_law') }}">#}
                    <a target="_blank" href="http://premiademar.cloudapp.net/ca/Indicators/CityIndicators">
                        <div class="well bottom-box">
                            <div class="wrapper">
                                <div class="caption">
                                    <header>
                                        <h2><span class="icon-stats"></span></h2>
                                    </header>
                                    <h3 class="no-m">{{ cms.laws.title | upper }}</h3>
                                </div>
                                <div class="mask">
                                    <p>Obligacions legals i entitats auditores</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_public_information') }}">
                        <div class="well bottom-box">
                            <div class="wrapper">
                                <div class="caption">
                                    <header>
                                        <h2><span class="icon-info"></span></h2>
                                    </header>
                                    <h3 class="no-m">{{ cms.info.title | upper }}</h3>
                                </div>
                                <div class="mask">
                                    <p>Com sol·licitar aquesta informació</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% include ':Front/includes:transparency-indicators.html.twig' %}#}
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_transparency', {_locale: 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_transparency', {_locale: 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_transparency', {_locale: 'en'}) }}{% endblock %}
