{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.home.block.transparency.title' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="transparency"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Breadcrumb -->#}
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="overlap">
                    <img class="img-responsive center-block" data-src="holder.js/1140x153/#7EA0B6:#7EA0B6" alt="dummy"/>
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li class="active">{{ 'front.home.block.transparency.title' | trans }}</li>
                        </ol>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {#<!-- Helper text block -->#}
    <div class="row">
        <div class="col-md-12">
            <p>{{ paragraphs(2) }}</p>
        </div>
    </div>
    {#<!-- Main blocks -->#}
    <div class="row">
        <div class="col-md-12">
            <h1 class="c-blue-dark">{{ 'front.transparency.categories' | trans }}</h1>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
            <div class="col-md-4">
                <a href="{{ path('demofony2_front_transparency_list', {slug: category.slug}) }}">
                    <div class="well category-box">
                        <div class="caption">
                            <header>
                                <h2><span class="icon-people_crowd{# TODO load class name from entity #}"></span></h2>
                            </header>
                            <h3 class="no-m">{{ category.name }}</h3>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {#<!-- Extra bottom blocks -->#}
    <div class="row">
        {# recent activity #}
        <div class="col-md-6">
            <div class="well bottom-box">
                <div class="row no-m-bottom">
                    <div class="col-md-3">
                        <div class="caption">
                            <header>
                                <h2><span class="icon-comment_like_ok"></span></h2>
                            </header>
                            <h3 class="no-m">{{ 'front.transparency.interesting' | trans }}</h3>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="interesting-docs">
                            <span class="icon icon-arrow_right"></span>
                            {% include 'Front/includes/transparency/current-activity.html.twig' with { documents: interestingDocs } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# external links #}
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_rendering_account') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-search_sheet"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.accounts.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_collaborates') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-comment_outline"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.collaborate.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_transparency_law') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-stats"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.laws.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('demofony2_front_cms_public_information') }}">
                        <div class="well bottom-box">
                            <div class="caption">
                                <header>
                                    <h2><span class="icon-info"></span></h2>
                                </header>
                                <h3 class="no-m">{{ cms.info.title | upper }}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% include ':Front/includes:transparency-indicators.html.twig' %}#}
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_transparency', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_transparency', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_transparency', {'_locale': 'en'}) }}{% endblock %}
