<div class="list-group no-m-bottom">
    {% for comment in comments %}
        <a class="advert-anchor" href="{% if comment.processParticipation %}{{ path('demofony2_front_participation_discussions_edit', {id: comment.processParticipation.id, discussion: comment.processParticipation.titleSlug}) }}{% else %}{{ path('demofony2_front_participation_proposals_show', {id: comment.proposal.id, titleSlug: comment.proposal.titleSlug}) }}{% endif %}">
            <div class="list-group-item">
                <h3 class="list-group-item-heading">{{ comment.title }} <small class="pull-right">{{ comment.createdAt | localizeddate('medium', 'short') }}</small></h3>
                <p class="list-group-item-text">{% include 'Front/includes/truncated-summary.html.twig' with {value: comment.comment, amount: 100} %}</p>
                <ul class="list-inline">
                    <li><span class="icon-comment_like_ok"></span> {{ comment.likesCount }}</li>
                    <li><span class="icon-comment_like_ko"></span> {{ comment.unlikesCount }}</li>
                </ul>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            <div class="alert alert-warning no-m-bottom" role="alert">
                <p class="list-group-item-text"><span class="icon-warning"></span> {{ 'front.profile.comments.noitems' | trans }}</p>
            </div>
        </div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(comments) }}
    </div>
</div>
