{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit', {'username': app.user.username}) }}" {{ form_enctype(form) }}
      method="POST" class="fos_user_profile_edit">
    {#<div class="row">#}
        {#<div class="form-group">#}
            {#<input id="address" type="text" class="form-control" placeholder="Enter an address">#}

            {#<div id="map"></div>#}
        {#</div>#}
    {#</div>#}


    {{ form_widget(form) }}
    <div class="form-group">
        <label class="sr-only" for="username">front.email</label>
        <input type="text" class="form-control" id="username" name="_username" value="" placeholder="form.label.email"
               required="required">
    </div>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit' | trans }}"/>
    </div>
</form>



{#{% block body_javascripts %}#}
    {#<script>#}
        {#$( function() {#}
            {#var addressPicker = new AddressPicker({#}
                        {#map: {#}
                            {#id: '#map',#}
                            {#center:  new google.maps.LatLng( {{form.vars.data.gps.lat}}, {{form.vars.data.gps.lng}}),#}
                            {#zoom: 12#}
                        {#},#}
                        {#marker:{#}
                            {#draggable: true,#}
                            {#visible: true,#}
                            {#position: new google.maps.LatLng( {{form.vars.data.gps.lat}}, {{form.vars.data.gps.lng}})#}
                        {#}#}
                    {#}#}
            {#);#}

            {#$('#address').typeahead(null, {#}
                {#displayKey: 'description',#}
                {#source: addressPicker.ttAdapter()#}
            {#});#}

            {#$('#address').bind("typeahead:selected", addressPicker.updateMap);#}
            {#$('#address').bind("typeahead:cursorchanged", addressPicker.updateMap);#}

            {#$(addressPicker).on('addresspicker:selected', function (event, result) {#}
                {#$("{{ '#' ~ form.vars.name  ~ '_gps_lat' }}").val(result.lat());#}
                {#$("{{ '#' ~ form.vars.name  ~ '_gps_lng' }}").val(result.lng());#}
            {#});#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}
