{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ user.username }}{% endblock %}

{% block bodyattr %}class="profile"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Back portrait panel -->#}
    {% include '@Demofony2User/Includes/back-portrait-panel.html.twig' %}
    {# Photo & Username #}
    <div class="row" style="margin-bottom:20px;margin-left:0">
        <div class="col-md-3">
            {% if user.image %}
                <img class="img-profile" src="{{ user | image | imagine_filter('263x263') }}" alt="{{ user.username }} GO Premia user profile"/>
            {% else %}
                <img class="img-profile" data-src="holder.js/263x263/text:?" alt="dummy"/>
            {% endif %}
        </div>
        <div class="col-md-9">
            <h2 class="c-blue-dark no-m">{{ user.name }}<small class="pull-right">{{ 'front.profile.lastaccess' | trans }} {{ user.lastLogin | localizeddate('medium', 'none') }}</small></h2>
            <h6 class="no-m-bottom"><em class="c-blue-dark">@{{ user.username }}</em></h6>
        </div>
    </div>
    {# Edit profile button & About me #}
    <div class="row" style="margin-left:0">
        <div class="col-md-3">
            {% if app.user == user %}
                <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-pencil"></i> {{ 'front.profile.edit' | trans }}</a>
            {% endif %}
        </div>
        <div class="col-md-9">
            {% if user.description %}
                <div class="description-panel">
                    <span class="icon-arrow_up ribbon-description"></span>{{ user.description }}
                </div>
            {% endif %}
        </div>
    </div>
    {# Map & Lists #}
    <div class="row" style="margin-left:0">
        <div class="col-md-3">
            {% if user.gps %}
                <div class="map-header"><span class="icon-map_placeholder"></span> {{ 'front.profile.map' | trans }}</div>
                <div id="map"></div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div role="tabpanel">
                {#<!-- Tab menu -->#}
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="{% if not open %} active{% endif %}"><a href="#proposals" aria-controls="proposals" role="tab" data-toggle="tab">{{ 'front.profile.proposals' | trans }}</a></li>
                    <li role="presentation" class="{% if open %} active{% endif %}"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">{{ 'front.profile.comments' | trans }}</a></li>
                </ul>
                {#<!-- Tab panels -->#}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane {% if not open %} active{% endif %}" id="proposals">
                        {% include 'Demofony2UserBundle:Profile:proposals-list.user.html.twig' with {proposals: proposals} %}
                    </div>
                    <div role="tabpanel" class="tab-pane {% if open %} active{% endif %}" id="comments">
                        {% include 'Demofony2UserBundle:Profile:comments-list.user.html.twig' with {comments: comments} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
    <script type="text/javascript">
        function initializeGooleMaps() {
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng({{ user.gps.lat }}, {{ user.gps.lng }})
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var point = { position: new google.maps.LatLng({{ user.gps.lat }}, {{ user.gps.lng }}) };
            point.marker = new google.maps.Marker({
                position: point.position,
                map: map,
                animation: google.maps.Animation.DROP,
                bounds: true
            });
        }
        function loadGoogleMapsScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = '//maps.google.com/maps/api/js?sensor=false&v=3.8&language={{ app.request.locale }}&callback=initializeGooleMaps';
            document.body.appendChild(script);
        }
        jQuery(document).ready(function() {
            loadGoogleMapsScript();
        });
    </script>
{% endblock %}

{% block footlangca %}{{ path('fos_user_profile_public_show_comments', {'_locale': 'ca', username: user.username}) }}{% endblock %}
{% block footlanges %}{{ path('fos_user_profile_public_show_comments', {'_locale': 'es', username: user.username}) }}{% endblock %}
{% block footlangen %}{{ path('fos_user_profile_public_show_comments', {'_locale': 'en', username: user.username}) }}{% endblock %}
