{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ user.username }}{% endblock %}

{% block bodyattr %}class="profile"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Back portrait panel -->#}
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="overlap">
                    <img class="img-responsive center-block" data-src="holder.js/1140x153/#7EA0B6:#7EA0B6" alt="dummy"/>
                </div>
            </div>
        </div>
    </div>
    {# Photo & Username #}
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="{{ user | image | imagine_filter('300x300') }}" alt="{{ user.username }} GO Premia user profile"/>
        </div>
        <div class="col-md-9">
            <h2>{{ user.username }}<small class="pull-right">{{ 'front.profile.lastaccess' | trans }} {{ user.lastLogin | localizeddate('medium', 'none') }}</small></h2>
        </div>
    </div>
    {# Edit profile button & About me #}
    <div class="row">
        <div class="col-md-3">
            {% if app.user == user %}
                <a class="btn btn-primary" href="{{ path('fos_user_profile_edit', {'username': user.username}) }}"><i class="fa fa-pencil"></i> {{ 'front.profile.edit'|trans }}</a>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="description-panel">
                {{ user.description }}
            </div>
        </div>
    </div>
    {# Map & Lists #}
    <div class="row">
        <div class="col-md-3">
            {% if user.gps %}
                <div class="map-header"><span class="icon-map_placeholder"></span> {{ 'front.profile.map' | trans }}</div>
                <div id="map"></div>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div role="tabpanel">
                {#<!-- Tab menu -->#}
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#proposals" aria-controls="proposals" role="tab" data-toggle="tab">{{ 'front.profile.proposals' | trans }}</a></li>
                    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">{{ 'front.profile.comments' | trans }}</a></li>
                </ul>
                {#<!-- Tab panels -->#}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="proposals">
                        {#{% include 'Front/includes/participation/discussions-list.html.twig' with { 'discussions': proposals } %}&#123;&#35; TODO: change this according to citizen proposals list &#35;&#125;#}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="comments">
                        <div class="list-group no-m-bottom">
                            {% for comment in user.comments %} {# TODO: replace user.comment by comments (controller) #}
                                <a class="advert-anchor" href="#">
                                    <div class="list-group-item">
                                        <h3 class="list-group-item-heading">{{ comment.title }} <small class="pull-right">{{ comment.createdAt | localizeddate('medium', 'short') }}</small></h3>
                                        <p class="list-group-item-text">{{ comment.comment }}</p>
                                        <ul class="list-inline">
                                            <li><span class="icon-comment_like_ok"></span> {{ comment.likesCount }}</li>
                                            <li><span class="icon-comment_like_ko"></span> {{ comment.unlikesCount }}</li>
                                        </ul>
                                    </div>
                                </a>
                            {% else %}
                                <div class="list-group-item">
                                    <div class="alert alert-warning no-m-bottom" role="alert">
                                        <p class="list-group-item-text"><span class="icon-warning"></span> {{ 'front.profile.comments.noitems' | trans }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_javascripts %}
    <script type="text/javascript">
        function initializeGooleMaps() {
            console.log('initializeGooleMaps');
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng({{ user.gps.lat }}, {{ user.gps.lng }})
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            var point = { position: new google.maps.LatLng({{ user.gps.lat }}, {{ user.gps.lng }}) };
            point.marker = new google.maps.Marker({
                position: point.position,
                map: map,
                animation: google.maps.Animation.DROP,
                bounds: true
            });
        }
        function loadGoogleMapsScript() {
            console.log('loadGoogleMapsScript');
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = '//maps.google.com/maps/api/js?sensor=false&v=3.8&language={{ app.request.locale }}&callback=initializeGooleMaps';
            document.body.appendChild(script);
        }
        jQuery(document).ready(function() {
            console.log('ready');
            loadGoogleMapsScript();
        });
    </script>
{% endblock %}

{% block footlangca %}{{ path('fos_user_profile_public_show', {'_locale': 'ca', username: user.username}) }}{% endblock %}
{% block footlanges %}{{ path('fos_user_profile_public_show', {'_locale': 'es', username: user.username}) }}{% endblock %}
{% block footlangen %}{{ path('fos_user_profile_public_show', {'_locale': 'en', username: user.username}) }}{% endblock %}
