{% block demofony2_admin_image_widget %}
    {% spaceless %}
        {% set subject =  form.vars.sonata_admin.admin.getSubject %}

            <div class="well span10">
                {%if  subject.imageName != null  %}

                        <a href="{{ vich_uploader_asset(subject, name)  }}" target="_blank" class="thumbnail">
                          <img src="{{ vich_uploader_asset(subject, name) | imagine_filter('80x80')  }}" alt="">
                        </a>

                {%endif%}
                {% set type = type|default('file') %}
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            </div>
    {% endspaceless %}
{% endblock %}

{% block demofony2_admin_document_widget %}
    {% spaceless %}
        {% set subject =  form.vars.sonata_admin.admin.getSubject %}

        <div class="well span10">
            {%if  subject.documentName != null  %}

                        <a style="color:black; text-align: center" href="{{ asset(vich_uploader_asset(subject, name))  }}" target="_blank" class="thumbnail">
                            <i class="fa fa-file fa-5x"></i><br>
                            {{ subject.documentName }}

                        </a>

            {%endif%}
            {% set type = type|default('file') %}
            <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        </div>
    {% endspaceless %}
{% endblock %}
