{% extends ':Front:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/bladetestercalendar/css/calendar-header.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('bundles/bladetestercalendar/css/calendar.css') }}">#}
{% endblock %}

{% block bodyattr %}class="transparency"{% endblock %}

{% block main %}
    <div class="main-body">
        {% block body %}{% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>Llegenda</h5>
                    <button class="btn btn-success btn-xs">{{ 'front.participation.discussions' | trans | lower }}</button>
                    <button class="btn btn-info btn-xs">{{ 'front.citizen.forums.tell' | trans | lower }}</button>
                    <button class="btn btn-warning btn-xs">{{ 'front.citizen.initiative.tell' | trans | lower }}</button>
                    <button class="btn btn-primary btn-xs">{{ 'front.participation.tell' | trans | lower }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bladetestercalendar/js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bladetestercalendar/js/calendar.js') }}"></script>
{% endblock %}
