{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.login.title' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="login"{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form" role="form" method="post" action="{{ path("fos_user_security_check") }}"
                  accept-charset="UTF-8" id="login-nav">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>{{ 'front.login.title' | trans }}</h2>
                        <div class="form-group{% if error %} has-error{% endif %}">
                            <label class="sr-only" for="username">{{ 'front.email' | trans }}</label>
                            {% if error %}
                                <span id="helpBlock" class="help-block"><span class="icon-warning"></span>&nbsp;
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </span>
                            {% endif %}
                            <input type="text" class="form-control" id="username" name="_username"
                                   value="{{ last_username }}"
                                   placeholder="{{ 'form.label.email' | trans }}"
                                   required="required">
                        </div>
                        <div class="form-group{% if error %} has-error{% endif %}">
                            <label class="sr-only" for="password">{{ 'front.passwd' | trans }}</label>
                            <input type="password" class="form-control" id="password" name="_password"
                                   placeholder="{{ 'form.label.password' | trans }}"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                            <label for="remember_me">{{ 'form.login.remember_me' | trans | capitalize }}</label>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="_submit" name="_submit" class="btn btn-sm btn-primary"
                                   value="{{ 'form.label.login' | trans | capitalize }}">&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'form.login.remember_password' | trans | capitalize }}</a>
                        </div>
                        <div>
                            <p>
                                Si encara no tens compte a la web et pots registrar.
                                <button id="button-dropdown-toggle-register-form-2" type="button" class="dropdown-toggle navbar-btn btn btn-sm btn-info c-blue-dark" data-toggle="dropdown" data-target="#registerDropdown">{{ 'front.home.register' | trans }}</button>
                            </p>
                            <script type="text/javascript">
                                jQuery(document).ready(function() {
                                    jQuery('#button-dropdown-toggle-register-form-2').dropdown('toggle');
                                });
                            </script>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h4 class="no-m-top">{{ 'front.login.quick' | trans }}</h4>
                        {% render(controller('HWIOAuthBundle:Connect:connect')) %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
