{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.privacy' | trans | capitalize }}{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-CMS.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.privacy' | trans | capitalize }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="active">{{ 'front.privacy' | trans | capitalize }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Main content -->#}
        <div class="row">
            <div class="col-md-12">
                <h1 class="demofony-heading"><span class="icon icon-warning"></span> {{ 'front.privacy' | trans | capitalize }}</h1>
                <p class="extra-m-top">{# TODO fetch text #}{{ paragraphs(4) }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_privacy', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_privacy', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_privacy', {'_locale': 'en'}) }}{% endblock %}
