{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.privacy' | trans | capitalize }}{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-CMS.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.privacy' | trans | capitalize }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li class="active">{{ 'front.privacy' | trans | capitalize }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Main content -->#}
        <div class="row">
            <div class="col-md-12">
                <h1 class="demofony-heading"><span class="icon icon-warning"></span> {{ 'front.privacy' | trans | capitalize }}</h1>
                <ol>
                    <li>
                        <strong>LLOC WEB</strong>
                        <p class="P1"><span class="T1">L'AJUNTAMENT DE PREMIA DE MAR,</span> compleix amb la Llei 34/ 2002 , d´11 de juliol, de serveis de la societat de la informació i de comerç electrònic.</p>
                        <p>Per complir amb la llei citada, les dades d'informació general d'aquest lloc Web són:</p>
                        <p><a href="http://www.premiademar.cat/portada.php">www.premiademar.cat</a></p>
                        <p class="P1">Titular: AJUNTAMENT DE PREMIÀ DE MAR.<br/>Adreça: Plaça de l'Ajuntament núm. 1- 08330 PREMIA DE MAR<br/>Contacte: <a href="mailto:info@premiademar.cat">info@premiademar.cat</a><br/>Telèfon: +34 93 741 74 00<br/>Fax: +34 93 741 74 26<br/>NIF: P0817100A</p>
                    </li>
                    <li>
                        <strong>POLÍTICA DE DADES</strong>
                        <ol>
                            <li>
                                <strong>Continguts</strong>
                                <p>L'Ajuntament de Premià de Mar posa els mitjans tècnics necessaris a fi que les dades siguin correctes i la web estigui lliure de virus i altres programes malignes, però no garanteix que estigui lliure d´errors tècnics, editorials o tipogràfics, o per omissions d´informació accessible a través d´aquest lloc web, a pesar dels esforços necessaris per evitar-los i corregir-los.</p>
                                <p>L'Ajuntament de Premià de Mar no es fa responsable de les informacions i opinions que siguin emesos a través del lloc web o a qualsevol altre lloc al qual s´accedeixi per mitjà d´enllaços (links).</p>
                            </li>
                            <li>
                                <strong>Condicions d´ús i funcionament del lloc Web</strong>
                                <p>L´ús d´aquesta pàgina web atribueix la condició d´usuari de la mateixa (en endavant l´usuari) i implica l´acceptació plena i sense reserves de totes i cadascuna de les disposicions incloses en aquest Avís Legal.</p>
                                <p>El lloc web de l´Ajuntament de Premià de Mar pot ser visitat pels usuaris de forma lliure, excepte aquelles àrees reservades a cada ciutadà, en les que es demana clau d´identificació i contrasenya, que són reservades per a cada ciutadà.</p>
                                <p>L´usuari es compromet a utilitzar la pàgina Web, els seus continguts i serveis, de conformitat amb la llei i el present Avís Legal. A aquest efecte, l´usuari ha d´abstenir-se d´utilitzar qualsevol dels serveis amb fins o efectes il·lícits, prohibits i/o lesius dels drets i interessos de tercers.</p>
                            </li>
                            <li>
                                <strong>Exempció de responsabilitat per l´ús o funcionament d´aquest lloc Web</strong>
                                <p>La responsabilitat per l´ús de la informació continguda en la pàgina Web és de l´usuari. L´Ajuntament de Premià de Mar queda eximit de tota responsabilitat per danys i perjudicis de qualsevol naturalesa que pugui derivar-se de l´accés, la captació i l'ús per part de tercers de les informacions i la publicitat continguda en aquest lloc Web i de les opinions facilitades pels usuaris en el mateix.</p>
                                <p>L´usuari és l´únic i exclusiu responsable de les seves claus d´identificació i contrasenya per accedir als serveis i continguts d´aquest lloc Web.</p>
                                <p>l´Ajuntament de Premià de Mar no es fa responsable de l´ús indegut de les claus d´identificació i contrasenyes d´accés dels usuaris ni de les conseqüències de qualsevol naturalesa derivades del mal ús per part dels usuaris, la pèrdua o l´oblit dels mateixos, ni del seu ús indegut per tercers no autoritzats.</p>
                                <p>l´Ajuntament de Premià de Mar presta els seus serveis i continguts de forma continuada amb tots els mitjans tècnics al seu abast per portar a terme aquesta prestació de forma satisfactòria i no es fa responsable dels danys i perjudicis de qualsevol naturalesa que poguessin derivar-se de falta de disponibilitat del lloc Web. En tot cas, durà a terme totes les actuacions precises per restablir els seus serveis en supòsits de problemes tècnics.</p>
                            </li>
                        </ol>
                    </li>
                    <li><strong>DRETS DE LA PROPIETAT INTEL·LECTUAL</strong></li>
                    <li><strong>LLEI DE PROTECCIÓ DE DADES DE CARÀCTER PERSONAL (LOPD)</strong></li>
                    <li><strong>SUGGERIMENTS</strong></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_privacy', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_privacy', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_privacy', {'_locale': 'en'}) }}{% endblock %}
