{% extends ':Mail:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.email.subject' | trans }}{% endblock %}

{% block tablebody %}
    <table class="row extra-m-bottom">
        <tr>
            <td class="wrapper">
                <table class="twelve columns">
                    <tr>
                        <td class="panel top">
                            <h1>{{ 'resetting.email.subject' | trans }}</h1>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="wrapper last">
                <table class="twelve columns">
                    <tr>
                        <td>
                            <p class="lead">{{ 'resetting.email.message' | trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) | raw | desc('%username%') }}</p>
                            <table class="button radius">
                                <tr>
                                    <td>
                                        <a href="{{ confirmationUrl }}" target="_blank">{{ 'resetting.email.link' | trans }}</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
