{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.citizen.initiative.tell' | trans | capitalize }} · {% endblock %}

{% block bodyattr %}class="participation"{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-participacio-iniciatives.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.citizen.initiative.tell' | trans }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li><a href="{{ path('demofony2_front_participation') }}">{{ 'front.participation.heading' | trans }}</a></li>
                                <li><a href="{{ path('demofony2_front_participation_citizen_initiative_list_open') }}">{{ 'front.citizen.initiative.tell' | trans | upper }}</a></li>
                                <li class="active">{{ initiative.title }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {#<!-- Detail -->#}
        <div class="row">
            <div class="col-md-8">
                <h3 class="discussion-title" style="margin-top:0">{{ initiative.title }}</h3>
                <p>{{ initiative.description | raw }}</p>
            </div>
            <div class="col-md-4">
                {% include ':Front/includes/participation:debate-right-side-gallery-and-docs.html.twig' with {discussion: initiative} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts %}
    {% include ':Front/includes/participation:enable-fancybox.html.twig' %}
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_citizen_initiative_detail', {_locale: 'ca', slug: initiative.slug, id: initiative.id}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_citizen_initiative_detail', {_locale: 'es', slug: initiative.slug, id: initiative.id}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_citizen_initiative_detail', {_locale: 'en', slug: initiative.slug, id: initiative.id}) }}{% endblock %}
