{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.citizen.initiative.tell' | trans | capitalize }} · {% endblock %}

{% block bodyattr %}class="participation"{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-participacio-iniciatives.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.citizen.initiative.tell' | trans }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li><a href="{{ path('demofony2_front_participation') }}">{{ 'front.participation.heading' | trans }}</a></li>
                                <li class="active">{{ 'front.citizen.initiative.tell' | trans | upper }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingZero">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">{{ 'front.citizen.initiative.tell' | trans | capitalize }}</a>
                            </h4>
                        </div>
                        <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
                            <div class="panel-body">
                                <p>Un grup de ciutadans pot prendre la iniciativa i demanar que l’ajuntament es posicioni sobre un tema o faci una determinada actuació d’interès públic sobre la qual tingui competència.</p>
                                <p>Per mostrar la força de la proposta presentada pels ciutadans, es demana que aquesta arribi a l’ajuntament acompanyada d’un nombre mínim de signatures de persones que hi donen suport. D’aquesta manera es garanteix que és quelcom que afecta una part rellevant de la població.</p>
                                <p>A Premià de Mar, es pot fer mitjançant la Iniciativa Ciutadana que està regulada al <a href="#{# TODO set anchor to GO rules #}">Reglament de govern obert i participació</a>.</p>
                                <p>Existeixen diferents tipus d’Iniciativa segons el que es desitgi proposar:</p>
                                <ul>
                                    <li>Incloure un punt en l’odre del dia perquè es debati en el Ple</li>
                                    <li>Que es convoqui un procés de debat públic o un fòrum ciutadà</li>
                                    <li>Que el Ple Municipal prengui un acord</li>
                                    <li>Que l’ajuntament faci una actuació concreta</li>
                                    <li>Una normativa concreta (un reglament, una ordenança)</li>
                                    <li>Que s’organitzi una consulta popular mitjançant vot</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Qui la pot presentar</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Qualsevol persona, major d’edat, inscrita al padró que, a més:</p>
                                <ul>
                                    <li>Sigui de nacionalitat espanyola, de qualsevol nacionalitat d’un estat membre de la UE, d’Islàndia, Liechtenstein, Noruega, Suïssa o estranger amb residència legal.</li>
                                    <li>No sigui diputat al Parlament de Catalunya, membre de corporacions locals, de les Corts Generals o  del Parlament Europeu.</li>
                                    <li>No hagi estat membre de cap llista electoral en les darreres eleccions municipals.</li>
                                    <li>No formi part de cap òrgan de direcció de partits polítics.</li>
                                    <li>No incorri en cap de les causes d'inelegibilitat o incompatibilitat dels càrrecs electes i alts càrrecs.</li>
                                </ul>
                                <p>També la poden presentar persones representants d’associacions, organitzacions professionals i sindicats que tinguin el seu àmbit d’actuació a Premià de Mar i que així ho decideixi el seu òrgan directiu.</p>
                                <p>La Comissió Promotora és el grup de persones que decideix impulsar una iniciativa. Hauran de ser tres persones que representaran els  signants als efectes de la iniciativa presentada, i seran considerades fedataris públics pel que fa a l’autenticitat de les signatures. És la responsable de fer avançar la iniciativa i té dret a:</p>
                                <ul>
                                    <li>Si la iniciativa suposa un acord del Ple Municipal, la Comissió pot explicar la seva proposta tant en la Comissió Informativa prèvia com en el Ple convocat per al debat i aprovació de la iniciativa presentada.</li>
                                    <li>Pot retirar la seva proposta de normativa abans de la seva aprovació en el Ple Municipal si considera, per exemple, que aquesta ha estat modificada en un sentit contrari a la seva proposta.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Qui la pot signar</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Pot signar, i per tant donar suport a una iniciativa, qualsevol persona que tingui 16 anys o més, estigui inscrita al padró municipal i que sigui de nacionalitat espanyola, de qualsevol nacionalitat d’un estat membre de la UE, d’Islàndia, Liechtenstein, Noruega, Suïssa o estrangera amb residència legal a Premià de Mar.</p>
                                <p><em>Per exemple, no seran vàlides aquelles signatures que siguin de persones que no estan empadronades a Premià de Mar encara que hi visquin.</em></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quantes signatures s’han de recollir</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>El nombre de signatures vàlides que la Comissió Promotora ha de presentar a l’ajuntament varia en funció del que es proposi:</p>
                                <table class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>TIPUS D’INICIATIVA</th>
                                        <th>NOMBRE DE SIGNATURES</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Incloure un punt en l’odre del dia del Ple Municipal</td>
                                        <td>200 signatures</td>
                                    </tr>
                                    <tr>
                                        <td>Que es convoqui un procés de debat públic o un fòrum ciutadà</td>
                                        <td>200 signatures</td>
                                    </tr>
                                    <tr>
                                        <td>Proposar un acord del Ple Municipal</td>
                                        <td>200 signatures</td>
                                    </tr>
                                    <tr>
                                        <td>Demanar que l’ajuntament faci una actuació concreta</td>
                                        <td>1.000 signatures</td>
                                    </tr>
                                    <tr>
                                        <td>Proposar una norma municipal (un reglament, una ordenança)</td>
                                        <td>1.000 signatures</td>
                                    </tr>
                                    <tr>
                                        <td>Sol·licitar l’organització d’una consulta popular</td>
                                        <td>1.000 signatures</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>Calen les signatures d’un 5% de les persones empadronades en l’àmbit territorial concret (barri...), si es refereix a un àmbit inferior al municipi.</p>
                                <p>L’ajuntament informarà la Comissió Promotora del nombre de persones empadronades en l’àmbit territorial de la iniciativa, per tal que aquests coneguin el nombre exacte de signatures vàlides que haurà de presentar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Limitacions</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Es poden presentar iniciatives sobre qualsevol qüestió que sigui competència de l’ajuntament excepte aquelles que:</p>
                                <ul>
                                    <li>Vulnerin drets humans o fonamentals</li>
                                    <li>Siguin sobre matèria tributària o preus públics</li>
                                    <li>Es refereixin a l’organització, estructura interna de l’ajuntament i el Capítol I de les Despeses de personal</li>
                                </ul>
                                <p>Les iniciatives han de ser d’un únic tipus excepte les que proposen:</p>
                                <ul>
                                    <li>Una actuació concreta de l’ajuntament</li>
                                    <li>Una normativa municipal (un reglament, una ordenança)</li>
                                </ul>
                                <p>Aquestes es poden acompanyar de la petició d’impulsar una consulta popular si el Ple rebutja la proposta. El plec de recollida de signatures ha d’indicar clarament aquesta petició i el text de la pregunta que se sotmetria a votació.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Com es presenta</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <p>El pas previ és que es reuneixin un grup de ciutadans amb una idea i ganes de portar-la a terme. Aquests hauran d’escollir qui és la Comissió Promotora.</p>
                                <p class="c-blue-dark">Pas 1 Presentació de la Iniciativa a l’ajuntament</p>
                                <p>La Comissió Promotora ha de presentar una instància {# TODO (enllaç) #}per informar de:</p>
                                <ul>
                                    <li>La iniciativa que vol impulsar, el text de la proposta per a la qual es demanaran les signatures.</li>
                                    <li>Qui forma la Comissió Promotora i dades de contacte.</li>
                                </ul>
                                <p>En un màxim de 15 dies, l’ajuntament informarà si admet a tràmit la iniciativa. Amb aquest tràmit la Comissió s’assegura que:</p>
                                <ul>
                                    <li>El que es proposa és competència de l’Ajuntament</li>
                                    <li>És un tema sobre el qual es pot presentar una iniciativa (vegeu apartat limitacions)</li>
                                    <li>Els membres de la Comissió Promotora poden presentar una iniciativa (veure apartat qui la pot presentar)</li>
                                </ul>
                                <p class="c-blue-dark">Pas 2 Presentació dels Plecs de signatures</p>
                                <p>La Comissió Promotora ha de presentar els plecs de signatures que els serveis municipals validaran en un màxim de 10 dies. Es pot demanar assessorament als serveis municipals per elaborar els plecs però, en principi, la validació consisteix únicament a posar un segell oficial assegurant que aquesta iniciativa ha estat admesa a tràmit.</p>
                                <p>Aquest pas vol ser una garantia tant per a la Comissió, com per a l’ajuntament i per a les persones que signaran la iniciativa.</p>
                                <p>Cada pàgina dels plecs de signatures ha de contenir el text íntegre de la proposta per a la qual es demana el suport dels ciutadans i l’espai delimitat per recollir les dades de les persones signants:</p>
                                <p>Signatura – Nom i cognoms – Domicili – NIF o NIE</p>
                                <p class="c-blue-dark">Pas 3 Recollida de signatures</p>
                                <p>Amb els plecs validats de la manera exposada en el pas 2 (no es pot admetre cap signatura que no estigui en un plec validat d’aquesta manera), s’inicia la fase de recollida de signatures.</p>
                                <p>El termini màxim per fer-ho és de 90 dies des que l’Ajuntament lliura els plecs validats per a la recollida de signatures.</p>
                                <p class="c-blue-dark">Pas 4 Lliurament i validació de les signatures</p>
                                <p>Un cop aconseguides les signatures, la Comissió Promotora les farà arribar a l’ajuntament per tal que en un màxim de 60 dies la Secretaria municipal declari vàlides aquelles signatures que reuneixen els requisits que estableix el Reglament de govern obert i participació de Premià de Mar.</p>
                                <p class="c-blue-dark">Pas 5 Efectes de la recollida suficient de signatures</p>
                                <p>Acreditat que s’ha assolit el nombre de signatures fixat, l’efecte serà diferent en funció de la proposta presentada:</p>
                                <ol>
                                    <li>Incloure un punt en l’odre del dia perquè es debati en el Ple<br>L’Alcaldia ordenarà que s’inclogui l’ordre del dia proposat en el Ple ordinari que es convoqui a partir del desè dia des que s’acrediten les signatures.</li>
                                    <li>Que es convoqui un procés de debat públic o un fòrum ciutadà<br>L’Alcaldia convocarà el procés de debat públic o fòrum ciutadà proposat.</li>
                                    <li>Que el Ple Municipal prengui un acord<br>L’Alcaldia ha de traslladar la proposta d’acord perquè sigui aprovada o rebutjada per l’òrgan competent.</li>
                                    <li>Que l’ajuntament faci una actuació concreta<br>L’Alcaldia ha de traslladar la proposta d’actuació perquè sigui aprovada o rebutjada per l’òrgan competent.</li>
                                    <li>Una normativa concreta (un reglament, una ordenança)<br>L’Alcaldia ordenarà que es tramiti la proposta normativa com qualsevol altra proposta normativa municipal (segons estableix el Reglament orgànic municipal).</li>
                                    <li>Que s’organitzi una consulta popular mitjançant vot<br>L’Alcaldia sotmetrà a aprovació del Ple municipal la proposta de consulta que haurà de ser acordada per majoria absoluta.</li>
                                </ol>
                                <p>La Comissió Promotora de la Iniciativa té dret a:</p>
                                <ul>
                                    <li>Si la iniciativa suposa un acord del Ple Municipal, la Comissió pot explicar la seva proposta tant en la Comissió Informativa prèvia com en el Ple convocat per al debat i aprovació de la iniciativa presentada.</li>
                                    <li>La Comissió pot retirar la seva proposta de normativa abans de la seva aprovació en el Ple Municipal si considera, per exemple, que aquesta ha estat modificada en un sentit contrari a la seva proposta.</li>
                                </ul>
                                <p><strong>Què és el Registre Ciutadà?</strong></p>
                                <p>És una base de dades on es poden inscriure totes les persones majors de 16 anys actives i interessades a participar en qualsevol àmbit del municipi. Les persones inscrites en el Registre Ciutadà rebran informació de les iniciatives de participació que s’impulsin des de l’ajuntament: processos de participació, fòrums ciutadans, consells consultius, consultes, voluntariat, etc.</p>
                                <p><strong>Com apuntar-s’hi, canviar les dades de contacte o donar-se de baixa?</strong></p>
                                <p>Per inscriure-s’hi cal omplir el formulari online del Registre Ciutadà {# TODO anchor enllaç #}o bé descarregar-lo i portar-lo a l’Oficina d´Atenció Ciutadana (OAC) de l’ajuntament{# TODO anchor enllaç #}.</p>
                                <p>Per modificar o donar de baixa les dades d’aquest Registre, només hauràs d’enviar un correu electrònic a <a href="mailto:participacio@premiademar.cat">participacio@premiademar.cat</a> o omplir el {# TODO anchor enllaç #}formulari de contacte.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% include 'Front/includes/participation/common-right-side.html.twig' %}
            </div>
        </div>
        <div role="tabpanel">
            {#<!-- Tab menu -->#}
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation"{% if open %} class="active"{% endif %}><a href="#open" aria-controls="open" role="tab" data-toggle="tab">{{ 'front.participation.discussions.open' | trans }}</a></li>
                        <li role="presentation"{% if not open %} class="active"{% endif %}><a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">{{ 'front.participation.discussions.close' | trans }}</a></li>
                    </ul>
                    {#<!-- Discussions list -->#}
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane{% if open %} active{% endif %}" id="open">
                            {% include ':Front/includes/participation:citizen-initiative-list.html.twig' with {initiatives: openInitiatives} %}
                        </div>
                        <div role="tabpanel" class="tab-pane{% if not open %} active{% endif %}" id="closed">
                            {% include ':Front/includes/participation:citizen-initiative-list.html.twig' with {initiatives: closedInitiatives} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_citizen_initiative_list_open', {_locale: 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_citizen_initiative_list_open', {_locale: 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_citizen_initiative_list_open', {_locale: 'en'}) }}{% endblock %}
