{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.participation.discussions' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="participation" ng-app="discussionShowApp"{% endblock %}

{% block head_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/my.js') }}"></script>
{% endblock %}

{% block main %}
    {% set username = is_granted("ROLE_USER") ? app.user.username : null %}
    <div class="container" data-ng-controller="MainCtrl" data-ng-init="init({{ asyncDiscussion }}, {{ asyncComments }}, '{{ is_granted("ROLE_USER") }}', '{{ username }}')">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" data-src="holder.js/1140x153/#7EA0B6:#7EA0B6" alt="dummy"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li><a href="{{ path('demofony2_front_participation') }}">{{ 'front.participation.heading' | trans }}</a></li>
                                <li><a href="{{ path('demofony2_front_participation_discussions') }}">{{ 'front.participation.discussions' | trans }}</a></li>
                                <li>{{ discussion.title }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel">
            {#<!-- Tab menu -->#}
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <li role="presentation"><a href="#introducing" aria-controls="introducing" role="tab" data-toggle="tab">{{ 'front.participation.discussions.introducing' | trans }}</a></li>
                        <li role="presentation" class="active"><a href="#debate" aria-controls="debate" role="tab" data-toggle="tab">{{ 'front.participation.discussions.debate' | trans }}</a></li>
                        <li role="presentation"><a href="#results" aria-controls="results" role="tab" data-toggle="tab">{{ 'front.participation.discussions.results' | trans }}</a></li>
                    </ul>
                </div>
            </div>
            {#<!-- Panels -->#}
            <div class="tab-content">
                {#<!-- Introducing panel -->#}
                <div role="tabpanel" class="tab-pane" id="introducing">
                    <div class="row">
                        <div class="col-md-8">
                            {% include ':Front/includes/participation:debate-head.html.twig' with { 'discussion': discussion } %}
                            <p>{{ discussion.description | raw }}</p>
                            {% include ':Front/includes/participation:debate-foot.html.twig' with { 'discussion': discussion } %}
                        </div>
                        <div class="col-md-4">
                            {% include ':Front/includes/participation:debate-right-side.html.twig' with { 'discussion': discussion } %}
                        </div>
                    </div>
                </div>
                {#<!-- Debate panel -->#}
                <div role="tabpanel" class="tab-pane active" id="debate">
                    <div class="row">
                        <div class="col-md-8">
                            {% include ':Front/includes/participation:debate-head.html.twig' with { 'discussion': discussion } %}
                            {#<!-- Available debate period -->#}
                            {% if discussion.state is not constant('PRESENTATION', discussion)  %}
                                <ul class="media-list no-m-bottom">
                                    <li class="media" data-ng-repeat="c in comments.comments">
                                        <div class="media-left">
                                            <a href="#" {# TODO enable: data-ng-href="[[ getUserProfileUrl(c.username) ]]"#}><img class="media-object" data-ng-src="[[ c.author.image_url ]]" alt="[[ c.author.username ]] GO Premià profile image"></a>
                                        </div>
                                        <div class="media-body">
                                            <div class="form-group" data-ng-attr-id="edit-comment-[[c.id]]">
                                                <form data-editable-form name="editableForm" data-onaftersave="comment.put(c, false)">
                                                    <h4 class="media-heading" data-editable-text="c.title" data-e-name="title" data-e-required>[[ c.title ]]</h4>
                                                    <h6>[[ c.created_at | date : long ]] · [[ c.author.username ]]</h6>
                                                    <p data-editable-textarea="c.comment" data-e-name="comment" data-e-rows="7" data-e-cols="200" data-e-required>[[ c.comment ]]</p>
                                                    <div>
                                                        <!-- button to show form -->
                                                        <button type="button" class="btn btn-default" data-ng-click="editableForm.$show()" data-ng-show="!editableForm.$visible && username == c.author.username">{{ 'front.edit' | trans }}</button>
                                                        <!-- buttons to submit / cancel form -->
                                                        <span data-ng-show="editableForm.$visible">
                                                            <button type="submit" class="btn btn-success" data-ng-disabled="editableForm.$waiting">{{ 'front.save' | trans }}</button>
                                                            <button type="button" class="btn btn-danger" data-ng-disabled="editableForm.$waiting" data-ng-click="editableForm.$cancel()">{{ 'front.cancel' | trans }}</button>
                                                        </span>
                                                    </div>
                                                </form>
                                                {#<form editable-form name="editableForm-[[c.id]]" onaftersave="comment.put(c)" class="simple-form" novalidate>#}
                                                    {#<div>#}
                                                        {#<span editable-text="c.title" e-name="title" e-required>[[ c.title ]]</span>#}
                                                    {#</div>#}
                                                    {#<div>#}
                                                        {#<p>[[ c.author.username ]]</p>#}
                                                    {#</div>#}
                                                    {#<div>#}
                                                        {#<span editable-text="c.comment" e-name="comment" e-required>[[ c.comment ]]</span>#}
                                                    {#</div>#}
                                                    {#<div class="buttons">#}
                                                        {#<!-- button to show form -->#}
                                                        {#<button type="button" class="btn btn-primary" data-ng-click="editableForm-[[c.id]].$show()" data-ng-show="!editableForm-[[c.id]].$visible ">Edit</button>#}
                                                        {#<!-- buttons to submit / cancel form -->#}
                                                        {#<span data-ng-show="editableForm-[[c.id]].$visible">#}
                                                            {#<button type="submit" class="btn btn-primary" ng-disabled="editableForm-[[c.id]].$waiting">Save</button>#}
                                                            {#<button type="button" class="btn btn-default" ng-disabled="editableForm-[[c.id]].$waiting" ng-click="editableForm-[[c.id]].$cancel()">Cancel</button>#}
                                                        {#</span>#}
                                                    {#</div>#}
                                                    {#&#123;&#35;Title: <input type="text" data-ng-model="c.title" /><br />&#35;&#125;#}
                                                    {#&#123;&#35;description: <input type="text" data-ng-model="c.comment" /><br />&#35;&#125;#}
                                                    {#&#123;&#35;<input type="submit" data-ng-click="comment.put(c)" value="Save" />&#35;&#125;#}
                                                {#</form>#}
                                            </div>
                                            <div class="form-group">
                                                <div class="btn-group" role="group">
                                                    <button class="btn btn-sm btn-default" type="button" data-ng-click="comment.like(c, $index)"  ng-disabled="!(c.user_already_like && !c.user_already_unlike || (!c.user_already_like && !c.user_already_unlike))"><i class="fa fa-thumbs-up"></i> [[ c.likes_count ]]</button>
                                                    <button class="btn btn-sm btn-default" type="button" data-ng-click="comment.unlike(c, $index)" ng-disabled="!(!c.user_already_like && c.user_already_unlike || (!c.user_already_like && !c.user_already_unlike))"><i class="fa fa-thumbs-down"></i> [[ c.unlikes_count ]]</button>
                                                </div>
                                            </div>
                                            <span data-ng-if="c.children_count > 0" data-ng-click="comment.getAnswers(c)">{{ 'show_answers' | trans }}</span>
                                            <ul class="media-list no-m-bottom">
                                                <li class="media" data-ng-repeat="c in c.answers.comments">
                                                    [[ c.title ]]
                                                    [[ c.comment ]]
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            {#<!-- Unavailable debate period -->#}
                            {% else %}
                                <div class="alert alert-warning" role="alert">
                                    <h2 class="no-m-top"><i class="fa fa-exclamation-triangle"></i> {{ 'front.participation.discussions.warning' | trans }}</h2>
                                    <p>
                                        {{ 'front.participation.discussions.warning.message' | trans }} {{ 'front.participation.discussions.warning.since' | trans }} {{ discussion.debateAt | localizeddate('medium', 'none') }} {{ 'front.participation.discussions.warning.until' | trans }} {{ discussion.finishAt | localizeddate('medium', 'none') }}
                                    </p>
                                </div>
                            {% endif %}
                            {% include ':Front/includes/participation:debate-foot.html.twig' with { 'discussion': discussion } %}
                        </div>
                        <div class="col-md-4">
                            {% include ':Front/includes/participation:debate-right-side.html.twig' with { 'discussion': discussion } %}
                        </div>
                    </div>
                </div>
                {#<!-- Results panel -->#}
                <div role="tabpanel" class="tab-pane" id="results">
                    <div class="row">
                        <div class="col-md-8">
                            {% include ':Front/includes/participation:debate-head.html.twig' with { 'discussion': discussion } %}
                            {% if discussion.state is not constant('CLOSED', discussion)  %}
                                <div class="alert alert-warning" role="alert">
                                    <h2 class="no-m-top"><i class="fa fa-exclamation-triangle"></i> {{ 'front.participation.discussions.warning' | trans }}</h2>
                                    <p>
                                        {{ 'front.participation.discussions.closed.warning.message' | trans }} {{ discussion.finishAt | localizeddate('medium', 'none') }}
                                    </p>
                                </div>
                            {% else %}
                            {% endif %}
                            {% include ':Front/includes/participation:debate-foot.html.twig' with { 'discussion': discussion } %}
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<div class="well">#}
                    {#<div class="row">#}
                        {#<div class="col-md-8">#}
                            {#<div class="form-group no-m-bottom">#}
                                {#<h3 class="no-m-top">comentaris</h3>#}
                                {#&#123;&#35;<pre>[[ comments ]]</pre>&#35;&#125;#}
                                {#<form novalidate class="simple-form">#}
                                    {#Title: <input type="text" ng-model="commentToPost.title" /><br />#}
                                    {#description: <input type="text" ng-model="commentToPost.comment" /><br />#}
                                    {#<input type="submit" ng-click="comment.post(commentToPost)" value="Save" />#}
                                {#</form>#}
                                {#<ul class="media-list no-m-bottom">#}
                                    {#<li class="media" data-ng-repeat="c in comments.comments">#}
                                        {#<a class="media-left" href="#"><img width="64" class="img-responsive" data-ng-src="[[ c.author.image_url ]]" alt="image profile of [[ c.author.username ]]"></a>#}
                                        {#<div class="media-body">#}
                                            {#<h4 class="media-heading">[[ c.title ]]<span class="label label-default pull-right">[[ c.created_at | date : short ]]</span></h4>#}
                                            {#<div class="form-group">#}
                                                {#<h6>[[ c.author.username ]]</h6>#}
                                                {#<p>[[ c.comment ]]</p>#}
                                                {#<span ng-if="username == c.author.username" ng-click="comment.showEditForm(c.id)">Edit</span>#}
                                            {#</div>#}
                                            {#<div ng-if="username == c.author.username" class="form-group hide" ng-attr-id="edit-comment-[[c.id]]">#}
                                                {#<form novalidate class="simple-form">#}
                                                    {#Title: <input type="text" ng-model="c.title" /><br />#}
                                                    {#description: <input type="text" ng-model="c.comment" /><br />#}
                                                    {#<input type="submit" ng-click="comment.put(c)" value="Save" />#}
                                                {#</form>#}
                                            {#</div>#}
                                            {#<div class="form-group">#}
                                                {#<div class="btn-group" role="group">#}
                                                    {#<button class="btn btn-sm btn-default" type="button" data-ng-click="comment.like(c, $index)"  ng-disabled="!(c.user_already_like && !c.user_already_unlike || (!c.user_already_like && !c.user_already_unlike))"><i class="fa fa-thumbs-up"></i> [[ c.likes_count ]]</button>#}
                                                    {#<button class="btn btn-sm btn-default" type="button" data-ng-click="comment.unlike(c, $index)" ng-disabled="!(!c.user_already_like && c.user_already_unlike || (!c.user_already_like && !c.user_already_unlike))"><i class="fa fa-thumbs-down"></i> [[ c.unlikes_count ]]</button>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<span ng-if="c.children_count > 0" data-ng-click="comment.getAnswers(c)">{{ 'show_answers' | trans }}</span>#}
                                            {#<ul class="media-list no-m-bottom">#}
                                              {#<li class="media" data-ng-repeat="c in c.answers.comments">#}
                                                  {#[[c.title]]#}
                                                  {#[[c.comment]]#}
                                              {#</li>#}
                                            {#</ul>#}
                                        {#</div>#}
                                    {#</li>#}
                                    {#&#123;&#35;<!-- NESTED EXAMPLE -->&#35;&#125;#}
                                    {#&#123;&#35;<li class="media">&#35;&#125;#}
                                        {#&#123;&#35;<a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 1" alt="dummy"></a>&#35;&#125;#}
                                        {#&#123;&#35;<div class="media-body">&#35;&#125;#}
                                            {#&#123;&#35;<h4 class="media-heading"><span class="label label-default">08/12/2014</span></h4>&#35;&#125;#}
                                            {#&#123;&#35;{{ words(35) }}&#35;&#125;#}
                                            {#&#123;&#35;<div class="media">&#35;&#125;#}
                                                {#&#123;&#35;<a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 3" alt="dummy"></a>&#35;&#125;#}
                                                {#&#123;&#35;<div class="media-body">&#35;&#125;#}
                                                    {#&#123;&#35;<h4 class="media-heading"><span class="label label-default">10/12/2014</span></h4>&#35;&#125;#}
                                                    {#&#123;&#35;{{ words(18) }}&#35;&#125;#}
                                                    {#&#123;&#35;<div class="media">&#35;&#125;#}
                                                        {#&#123;&#35;<a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 5" alt="dummy"></a>&#35;&#125;#}
                                                        {#&#123;&#35;<div class="media-body">&#35;&#125;#}
                                                            {#&#123;&#35;<h4 class="media-heading"><span class="label label-default">11/12/2014</span></h4>&#35;&#125;#}
                                                            {#&#123;&#35;{{ words(45) }}&#35;&#125;#}
                                                        {#&#123;&#35;</div>&#35;&#125;#}
                                                    {#&#123;&#35;</div>&#35;&#125;#}
                                                {#&#123;&#35;</div>&#35;&#125;#}
                                                {#&#123;&#35;<div class="media">&#35;&#125;#}
                                                    {#&#123;&#35;<a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 4" alt="dummy"></a>&#35;&#125;#}
                                                    {#&#123;&#35;<div class="media-body">&#35;&#125;#}
                                                        {#&#123;&#35;<h4 class="media-heading"><span class="label label-default">10/12/2014</span></h4>&#35;&#125;#}
                                                        {#&#123;&#35;{{ words(30) }}&#35;&#125;#}
                                                    {#&#123;&#35;</div>&#35;&#125;#}
                                                {#&#123;&#35;</div>&#35;&#125;#}
                                            {#&#123;&#35;</div>&#35;&#125;#}
                                        {#&#123;&#35;</div>&#35;&#125;#}
                                    {#&#123;&#35;</li>&#35;&#125;#}
                                {#</ul>#}
                                {#<ul class="pagination">#}
                                    {#<li ng-repeat="a in range(pages) track by $index" data-ng-class="{'active': currentPage == $index + 1 }">#}
                                        {#<a data-ng-click="comment.getListLevel1($index+1)">[[$index + 1]]</a>#}
                                    {#</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-4">#}
                            {#<div class="form-group">#}
                                {#<h3 class="no-m-top">votacions</h3>#}
                                {#<div class="btn-group" role="group">#}
                                    {#<button class="btn btn-sm btn-default" type="button"  ng-repeat="answer in discussion.proposal_answers" data-ng-click="vote(answer)" ng-disabled=" discussion.user_already_vote && answer && !answer.user_has_vote_this_proposal_answer">#}
                                        {#<i class="fa fa-thumbs-up"></i> [[answer.votes_count]] [[answer.title]]#}
                                    {#</button>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_discussions_edit', {'_locale': 'ca', id: discussion.id, discussion: discussion.titleSlug}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_discussions_edit', {'_locale': 'es', id: discussion.id, discussion: discussion.titleSlug}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_discussions_edit', {'_locale': 'en', id: discussion.id, discussion: discussion.titleSlug}) }}{% endblock %}
