{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well participation-well">
                    <h1 class="no-m-top"><span class="label label-transparent"><a href="{{ path('demofony2_front_participation') }}">{% trans %}front.participation.heading{% endtrans %}</a> <i class="fa fa-chevron-right"></i> <a href="{{ path('demofony2_front_participation_discussions') }}">{% trans %}front.participation.discussions.title{% endtrans %}</a> <i class="fa fa-chevron-right"></i> {{ discussion.title }}</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    {#<pre>{{ asyncDiscussion }}</pre>#}
                    {#<pre>{{ asyncComments }}</pre>#}
                    <img data-src="holder.js/1100x140/text:títol proposta 3" class="img-responsive" alt="dummy">
                    <h4></h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <p class="lead">
                                    <span class="label label-default" style="margin-right:5px">{{ discussion.presentationAt | localizeddate('medium', 'none') }}</span>
                                    <span class="label label-default">{{ discussion.stateName | trans }}</span>
                                </p>
                            </div>
                            <div class="form-group">
                                <p>
                                    {% for category in discussion.categories %}
                                        <span class="label label-default" style="margin-right:5px">{{ category.name }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="form-group">
                                <p>{{ discussion.description }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pull-right">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-envelope fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                {#<label for="address">adreça</label>#}
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5977.069361644192!2d2.3613954!3d41.4926867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4b13676ca345b%3A0xb6b51df33cc510bf!2sPremi%C3%A0+de+Mar%2C+Barcelona!5e0!3m2!1ses!2ses!4v1418223177173" width="100%" height="250" frameborder="0" style="border:0"></iframe>
                            </div>
                            <div class="form-group">
                                {% for image in discussion.images %}
                                    {% if loop.first %}
                                        <img class="img-responsive" style="margin-bottom:5px" src="{{ vich_uploader_asset(image, 'participation_image') | imagine_filter('400xY') }}" alt="{# TODO set alt image attr #}">
                                    {% else %}
                                        <img src="{{ vich_uploader_asset(image, 'participation_image') | imagine_filter('80x80') }}" alt="{# TODO set alt image attr #}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% for document in discussion.documents %}
                                <div class="form-group">
                                    <a class="btn btn-default" href="{{ document.url }}" download="{{ document.documentName }}"><i class="fa fa-cloud-download"></i> {{ 'front.participation.discussions.attachment' | trans }} {{ loop.index }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group no-m-bottom">
                                <h3 class="no-m-top">comentaris</h3>
                                <ul class="media-list no-m-bottom">
                                    <li class="media">
                                        <a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 1" alt="dummy"></a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><span class="label label-default">08/12/2014</span></h4>
                                            {{ words(35) }}
                                            <div class="media">
                                                <a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 3" alt="dummy"></a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><span class="label label-default">10/12/2014</span></h4>
                                                    {{ words(18) }}
                                                    <div class="media">
                                                        <a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 5" alt="dummy"></a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><span class="label label-default">11/12/2014</span></h4>
                                                            {{ words(45) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 4" alt="dummy"></a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><span class="label label-default">10/12/2014</span></h4>
                                                        {{ words(30) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a class="media-left" href="#"><img data-src="holder.js/64x64/text:usuari 2" alt="dummy"></a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><span class="label label-default">09/12/2014</span></h4>
                                            {{ words(25) }}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <h3 class="no-m-top">votacions</h3>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-up"></i> 2</button>
                                    <button class="btn btn-sm btn-default" type="button"><i class="fa fa-thumbs-down"></i> 1</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_discussions_edit', {'_locale': 'ca', id: 3, discussion: 'titol-debat-3'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_discussions_edit', {'_locale': 'es', id: 3, discussion: 'titol-debat-3'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_discussions_edit', {'_locale': 'en', id: 3, discussion: 'titol-debat-3'}) }}{% endblock %}
