{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.participation.discussions' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="participation"{% endblock %}

{% block main %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-participacio-debat.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.participation.discussions' | trans }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li><a href="{{ path('demofony2_front_participation') }}">{{ 'front.participation.heading' | trans }}</a></li>
                                <li><a href="{{ path('demofony2_front_participation_discussions_list_open') }}">{{ 'front.participation.discussions' | trans }}</a></li>
                                <li><a href="{{ path('demofony2_front_participation_discussions_edit', {id: discussion.id, discussion: discussion.titleSlug}) }}">{{ discussion.title }}</a></li>
                                <li class="active">{{ page.title }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.title }}</h1>
                <p>{{ page.description | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_discussion_show_page', {_locale: 'ca', id: discussion.id, discussion: discussion.titleSlug, pid: page.id, page: page.slug}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_discussion_show_page', {_locale: 'es', id: discussion.id, discussion: discussion.titleSlug, pid: page.id, page: page.slug}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_discussion_show_page', {_locale: 'en', id: discussion.id, discussion: discussion.titleSlug, pid: page.id, page: page.slug}) }}{% endblock %}
