{% extends ':Front:layout.html.twig' %}

{% block title %}{{ parent() }} · {{ 'front.participation.tell' | trans | capitalize }}{% endblock %}

{% block bodyattr %}class="participation"{% endblock %}

{% block main %}
<div class="container">
    {#<!-- Breadcrumb -->#}
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="overlap">
                    <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-participacio-digues.jpg' | imagine_filter('1140x256') }}" alt="{{ 'front.participation.tell' | trans }} logo"/>
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li><a href="{{ path('demofony2_front_participation') }}">{{ 'front.participation.heading' | trans }}</a></li>
                            <li class="active">{{ 'front.participation.tell' | trans | upper }}</li>
                        </ol>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel">
        {#<!-- Tab menu -->#}
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#open" aria-controls="open" role="tab" data-toggle="tab">{{ 'front.participation.discussions.open' | trans }}</a></li>
                    <li role="presentation"><a href="#closed" aria-controls="closed" role="tab" data-toggle="tab">{{ 'front.participation.discussions.close' | trans }}</a></li>
                </ul>
                {#<!-- Discussions list -->#}
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="open">
                        {% include 'Front/includes/participation/proposals-list.html.twig' with { proposals: openProposals } %}
                        <a class="btn btn-primary" href="{{ path('demofony2_front_participation_proposals_new') }}"><i class="fa fa-plus"></i> {{ 'front.participation.add.item' | trans }}</a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="closed">
                        {% include 'Front/includes/participation/proposals-list.html.twig' with { proposals: closeProposals } %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% include 'Front/includes/participation/common-right-side.html.twig' %}
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footlangca %}{{ path('demofony2_front_participation_proposals', {'_locale': 'ca'}) }}{% endblock %}
{% block footlanges %}{{ path('demofony2_front_participation_proposals', {'_locale': 'es'}) }}{% endblock %}
{% block footlangen %}{{ path('demofony2_front_participation_proposals', {'_locale': 'en'}) }}{% endblock %}
