{% extends 'BladeTesterCalendarBundle:Base:base.html.twig' %}

{% block body %}
    <div class="container">
        {#<!-- Breadcrumb -->#}
        <div class="row">
            <div class="col-md-12">
                <div class="banner">
                    <div class="overlap">
                        <img class="img-responsive center-block" src="{{ 'bundles/demofony2app/images/titular-participacio.jpg' | imagine_filter('front_heading') }}" alt="{{ 'front.participation.heading' | trans }} logo"/>
                        {% block breadcrumb %}
                            <ol class="breadcrumb">
                                <li><a href="{{ path('demofony2_front_participation') }}">{{ 'front.participation.heading' | trans }}</a></li>
                                <li class="active">{{ 'bladetester_calendar.label.agenda' | trans }}</li>
                            </ol>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="transparency-list-header"><span class="icon-calendar"></span> {{ 'bladetester_calendar.label.agenda' | trans }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="btn-group">
                        <a href="{{ path('calendar_event_list_by_day', {'year': "now"|date('Y'), 'month': "now"|date('m'), 'day' : "now"|date('d')}) }}" class="btn btn-info{% if app.request.attributes.get('_route') == 'calendar_event_list_by_day' %} active{% endif %}">{{ 'bladetester_calendar.label.day'|trans }}</a>
                        <a href="{{ path('calendar_event_list_by_week', {'year': "now"|date('Y'), 'month': "now"|date('m'), 'day' : "now"|date('d')}) }}" class="btn btn-info{% if app.request.attributes.get('_route') == 'calendar_event_list_by_week' %} active{% endif %}">{{ 'bladetester_calendar.label.week'|trans }}</a>
                        <a href="{{ path('calendar_event_list_by_month', {'year': "now"|date('Y'), 'month': "now"|date('m')}) }}" class="btn btn-info{% if app.request.attributes.get('_route') == 'calendar_event_list_by_month' %} active{% endif %}">{{ 'bladetester_calendar.label.month'|trans }}</a>
                    </div>
                    {% block calendar_date_selector %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            {#<div class="col-md-4">#}
                {#{% block calendar_sidebar %}#}
                    {#{% render(controller('BladeTesterCalendarBundle:Calendar:showMini', {year : "now" | date('Y'), month: "now" | date('m') })) %}#}
                {#{% endblock %}#}
            {#</div>#}
            <div class="col-md-12">
                {% block calendar_body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
