{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}

{% block calendar_date_selector %}
    <div class="btn-group pull-right">
        <a href="{{ path('calendar_event_list_by_month', {'year': previous|date('Y'), 'month': previous|date('m')}) }}" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
        <button class="btn btn-default active">{{ '%month% of %year%'|trans({ '%month%': current|date('F')|trans, '%year%': current|date('Y')}) }}</button>
        <a href="{{ path('calendar_event_list_by_month', {'year': next|date('Y'), 'month': next|date('m')}) }}" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
    </div>
{% endblock %}

{% block calendar_body %}
    <table class="table">
        <thead>
            <tr class="dp-days">
                <th title="dilluns">{{ 'bladetester_calendar.abbr.monday'|trans|upper }}</th>
                <th title="dimarts">{{ 'bladetester_calendar.abbr.tuesday'|trans|upper }}</th>
                <th title="dimecres">{{ 'bladetester_calendar.abbr.wednesday'|trans|upper }}</th>
                <th title="dijous">{{ 'bladetester_calendar.abbr.thursday'|trans|upper }}</th>
                <th title="divendres">{{ 'bladetester_calendar.abbr.friday'|trans|upper }}</th>
                <th title="dissabte">{{ 'bladetester_calendar.abbr.saturday'|trans|upper }}</th>
                <th title="diumenge">{{ 'bladetester_calendar.abbr.sunday'|trans|upper }}</th>
            </tr>
        </thead>
        <tbody>
        {% for date in dates %}
            {% if loop.index0%7 == 0 %}<tr>{% endif %}
                <td {% if date|date('m') != current|date('m') %}class="active"{% endif %}>
                    <time class="day-number" datetime="{{ date|date('Y-m-d H:i') }}">{{ date|date('d') }}</time>
                    {% include 'BladeTesterCalendarBundle:Event:group.html.twig' with {'events': events.allByDate(date)} %}
                </td>
            {#<td class="day{% if day|date('Y-m-d') == "today"|date('Y-m-d') %} today{% endif %}{% if day|date('m') != "today"|date('m') %} offmonth{% endif %}">#}
                {#<a href="{{ path('calendar_event_list_by_day', {'year': day|date('Y'), 'month': day|date('m'), 'day': day|date('d') }) }}">{{ day|date('d') }}</a>#}
            {#</td>#}
            {% if loop.index0%7 == 6 %}</tr>{% endif %}
        {% endfor %}
        </tbody>
    </table>

    {#<section class="schedule-content schedule-view-month">#}
        {#<ul class="list-table">#}
            {#<li class="list-table-body">#}
                {#{% for date in dates %}#}
                    {#{% if loop.index0%7 == 0 %}<ul class="list-table-row">{% endif %}#}
                        {#<li class="list-table-cell{% if date|date('Y-m-d') == "today"|date('Y-m-d') %} today{% endif %}{% if date|date('m') != current|date('m') %} day-other-month{% endif %}">#}
                            {#<time class="day-number" datetime="{{ date|date('Y-m-d H:i') }}">{{ date|date('d') }}</time>#}
                            {#{% include 'BladeTesterCalendarBundle:Event:group.html.twig' with {'events': events.allByDate(date)} %}#}
                            {#<a href="{{ path('calendar_event_add') }}?year={{ date|date('Y')}}&month={{ date|date('m') }}&day={{ date|date('d') }}&destination={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="full-link"></a>#}
                        {#</li>#}
                        {#{% if loop.index0%7 == 6 %}</ul>{% endif %}#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    {#</section>#}
{% endblock %}

{% block javascripts %}
    {#<script type="text/javascript" src="{{ asset('public/js/calendar.js') }}"></script>#}
{% endblock %}
