{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}

{% block calendar_date_selector %}
    <div class="btn-group pull-right">
        <a href="{{ path('calendar_event_list_by_week', {'year': previous|date('Y'), 'month': previous|date('m'), 'day':previous|date('d')}) }}" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
        <button class="btn btn-default active">{{ 'Week from %from_day%, %from_month% of %from_year% to %to_day%, %to_month% of %to_year%'|trans({'%from_day%': dates[0]|date('d'), '%from_month%': dates[0]|date('F')|trans, '%from_year%': dates[0]|date('Y'),
                '%to_day%': dates[dates|length - 1]|date('d'), '%to_month%': dates[dates|length - 1]|date('F')|trans, '%to_year%': dates[dates|length - 1]|date('Y')}, 'calendar') }}</button>
        <a href="{{ path('calendar_event_list_by_week', {'year': next|date('Y'), 'month': next|date('m'), 'day':next|date('d')}) }}" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
    </div>
{% endblock %}

{% block calendar_body %}
    <table class="table" style="table-layout:fixed">
        <thead>
            <tr>
                {% for date in dates %}
                    <th>
                        <abbr title="{{ date|date('l')|trans }}">{{ date|date('D')|trans }}</abbr>
                        <time datetime="{{ date|date('Y-m-d')}}">{{ '%month%-%day%'|trans({'%day%': date|date('d'), '%month%': date|date('m')}) }}</time>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for date in dates %}
                    <td class="list-table-cell">
                        {% for hour in 0..23 %}
                            {% include 'BladeTesterCalendarBundle:Event:group.html.twig' with {events: events.allByDateAndTime(date, hour), size: 'btn-xs'} %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
